@include font-face(
  "OpenSans",
  "../fonts/OpenSans/opensans-regular-webfont",
  "../fonts/OpenSans/opensans-bold-webfont",
  ("woff2", "woff", "eot")
) {
  font-style: normal;
  font-weight: 400;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
p {
  padding: 0;
  margin: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container-fluid {
  max-width: 1440px;
}
.content {
  min-width: 1170px;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  box-sizing: border-box;
  height: auto;
  max-width: 305px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.12px;
  line-height: 56px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.btn-red {
  background-color: #f05644;
  box-shadow: 0 4px 0 0 #bf483b;
}
.btn-red:hover {
  background-color: #ff8a65;
}
.btn-blue {
  background-color: #1e88e5;
  box-shadow: 0 4px 0 0 #1b68ac;
}
.btn-blue:hover {
  background-color: #42a5f5;
}
.btn-pink {
  background-color: #f05644;
  box-shadow: 0 4px 0 0 #bf483b;
}
.btn-pink:hover {
  background-color: #ff8a65;
}
.btn-crowd::before {
  content: "";
  position: absolute;
  width: 99px;
  height: 54px;
  left: 100px;
  top: -54px;
  background-image: url('../img/crowd-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.btn-arrow::before {
  content: "";
  position: absolute;
  width: 99px;
  height: 54px;
  right: 6px;
  top: 7px;
  background-image: url('../img/btn-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.btn-get-vip:hover {
  background-color: #42a5f5;
}
.content-wrapper {
  background-image: url('../img/pattern.svg');
}
.logo {
  margin-bottom: 72px;
}
.logo-wrapper {
  height: 92px;
  text-align: center;
}
.advantages-list {
  width: 100%;
  display: table;
}
.advantages-list .table-roww {
  display: table-row;
}
.advantages-list_item {
  display: table-cell;
  position: relative;
  padding-left: 67px;
  padding-right: 162px;
  padding-bottom: 76px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.advantages-list_item:nth-child(even) {
  padding-left: 100px;
  padding-right: 0px;
}
.advantages-list_item:nth-child(odd) {
  padding-left: 67px;
  padding-right: 128px;
}
.advantages-list_item::before {
  content: "";
  position: absolute;
  top: -23px;
  left: -11px;
  width: 80px;
  height: 80px;
  background-image: url('../img/advantages-sprite.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.advantages-list_item--icon1::before {
  background-position: 95% 47%;
}
.advantages-list_item--icon2::before {
  background-position: 9% 7%;
}
.advantages-list_item--icon3::before {
  background-position: 50% 3%;
}
.advantages-list_item--icon4::before {
  background-position: 1% 47%;
}
.advantages-list_item--icon5::before {
  background-position: 92% 2%;
}
.advantages-list_item--icon6::before {
  background-position: 3% 91%;
}
.advantages-button {
  margin-bottom: 48px;
  text-align: center;
}
.benefits {
  background-color: #37474f;
}
.benefits--bottom {
  background-color: #263238;
}
.benefits-image-wrapper--left {
  background-image: url('../img/benefits-pic-1.png');
  background-repeat: no-repeat;
  background-position: -82px 158px;
}
.benefits-image-wrapper--right {
  background-image: url('../img/benefits-pic-2.png');
  background-repeat: no-repeat;
  background-position: 587px 137px;
}
.benefits-wrapper {
  padding-left: 46px;
}
.benefits h2 {
  position: relative;
  margin-top: 66px;
  margin-bottom: 76px;
  padding-left: 42px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.benefits h2::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 18px;
  width: 53px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.benefits-list_item {
  position: relative;
  padding-left: 42px;
  margin-bottom: 48px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.benefits-list_item::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -27px;
  width: 46px;
  height: 48px;
  background-image: url('../img/benefits-sprite.svg');
  background-repeat: no-repeat;
}
.benefits-list_item--icon1::before {
  background-position: 28% 4%;
}
.benefits-list_item--icon2::before {
  background-position: 4% 64%;
}
.benefits-list_item--icon3::before {
  background-position: 26% 64%;
}
.benefits-list_item--icon4::before {
  background-position: 5% 6%;
}
.benefits-list_item--icon5::before {
  background-position: 72% 6%;
}
.benefits-list_item--icon6::before {
  background-position: 95% 6%;
}
.benefits-list_item--icon7::before {
  background-position: 95% 35%;
}
.benefits-list_item--icon8::before {
  background-position: 72% 35%;
}
.benefits-list_item--icon9::before {
  background-position: 4% 94%;
}
.benefits-list_item--icon10::before {
  background-position: 47% 64%;
}
.benefits-list_item--icon11::before {
  background-position: 5% 35%;
}
.benefits-list_item--icon12::before {
  background-position: 50% 6%;
}
.benefits-button {
  margin-bottom: 38px;
}
.benefits-button a {
  margin-left: 42px;
}
.registration-step-1-image-wrapper {
  padding: 48px 38px 340px;
  background-image: url('../img/step-1.png');
  background-repeat: no-repeat;
  background-position: 182px 19px;
}
.registration-step-1-image-wrapper p {
  opacity: 0.1;
  color: #fefefe;
  font-family: "Open Sans";
  font-size: 92px;
  font-weight: 700;
  line-height: 92px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.registration-step-1-button {
  padding: 151px 0 110px 171px;
}
.registration-step-1-button h2 {
  position: relative;
  margin-bottom: 44px;
  color: #fefefe;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.registration-step-1-button h2::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -186px;
  width: 157px;
  height: 62px;
  background-image: url('../img/arrow-big-right.png');
  background-repeat: no-repeat;
}
.registration-step-1-button a {
  margin-bottom: 20px;
}
.registration-step-1-button p {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.registration-step-1-button p::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -86px;
  width: 78px;
  height: 174px;
  background-image: url('../img/arrow-big-bottom.png');
  background-repeat: no-repeat;
}
.registration-step-2 {
  background-color: #263238;
}
.registration-step-2 .registration-form {
  width: 100%;
}
.registration-step-2 .registration-form h2 {
  position: relative;
  margin-top: 100px;
  margin-bottom: 60px;
  color: #fefefe;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.registration-step-2 .registration-form form {
  width: 100%;
}
.registration-step-2 .registration-form form .form-group {
  display: block;
  margin-bottom: 20px;
}
.registration-step-2 .registration-form form .form-group--right,
.registration-step-2 .registration-form form .form-group--left {
  display: inline-block;
  margin-right: -4px;
  margin-bottom: 20px;
  width: 50%;
}
.registration-step-2 .registration-form form .form-group--right {
  text-align: right;
}
.registration-step-2 .registration-form form .form-group input {
  margin-bottom: 14px;
  padding: 16px 12px 14px;
  width: 93%;
  border: 1px solid #d8d8d9;
  background-color: #ffffff;
  color: #040404;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.09px;
  outline: none;
}
.registration-step-2 .registration-form form .form-group textarea {
  display: block;
  margin-bottom: 20px;
  padding: 22px 18px;
  width: 100%;
  min-height: 78px;
  border: 1px solid #d8d8d9;
  background-color: #ffffff;
  color: #040404;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.registration-step-2 .registration-form form .form-group label.checkbox {
  display: inline-block;
  vertical-align: top;
  float: left;
}
.registration-step-2 .registration-form form .form-group label.checkbox input[type=checkbox] {
  display: none;
  position: relative;
  top: 2px;
}
.registration-step-2 .registration-form form .form-group label.checkbox span {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.registration-step-2 .registration-form form .form-group label.checkbox span::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-image: url('../img/checkbox-sprite.svg');
  background-repeat: no-repeat;
}
.registration-step-2 .registration-form form .form-group button {
  float: right;
}
.registration-step-2 .registration-form form .check-id {
  display: inline-block;
  margin-bottom: 10px;
  color: #2b87c5;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.12px;
}
.registration-step-2 .registration-form form .check-id:hover {
  text-decoration: underline;
  color: #4b9fd8;
}
.registration-step-2-image-wrapper {
  padding: 94px 38px 380px 82px;
  background-image: url('../img/step-2.png');
  background-repeat: no-repeat;
  background-position: 72px 164px;
}
.registration-step-2-image-wrapper p {
  opacity: 0.1;
  color: #fefefe;
  font-family: "Open Sans";
  font-size: 106px;
  font-weight: 700;
  line-height: 126px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
label.checkbox input[type=checkbox]:checked + span:before {
  background-position: 0 -40px;
}
@media (max-width: 1200px) {
  .header-top-line img {
    width: 100%;
    padding-top: 50px;
  }
}
