@import "vars";

.events {
    margin-top: 32px;
    .events-filter {
        padding: 20px 24px 8px;
        border-top: 4px solid #c5d0de;
        box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
        border-radius: 4px;
        background-color: #ffffff;
        form {
            legend {
                margin-bottom: 20px;
                color: #525c6c;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 18px;
                letter-spacing: 1.3px;
            }
            .dropdown {
                &::before {
                    right: 5px;
                    top: 7px;
                }
            }
            .choosing-form_list {
                li {
                    display: flex;
                    margin-bottom: 5px;
                    label {
                        span {
                            color: #333f52;
                        }
                    }
                    span {
                        margin-left: auto;
                        color: #8f96a1;
                        font-family: @main-font;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19px;
                    }
                }
            }
        }
    }
    .current-events {
        margin-top: 28px;
        margin-bottom: 36px;
        padding: 20px 24px;
        border-top: 4px solid #5bb0d5;
        box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
        border-radius: 4px;
        background-color: #fafbfc;
        h3 {
            margin-bottom: 18px;
            color: #525c6c;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 1.3px;
            text-transform: uppercase;
        }
        .radio-buttons {
            margin-bottom: 18px;
        }
        &_item {
            margin-top: 20px;
            &-data {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 3px;
                a {
                    margin-top: 2px;
                    color: #1991eb;
                    font-family: @main-font;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 12px;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            &-name {
                color: #333f52;
                font-family: @main-font;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                white-space: nowrap;
            }
            &-event {
                padding: 3px 4px 2px;
                color: #ffffff;
                font-family: @main-font;
                font-size: 11px;
                font-weight: 700;
                line-height: 11px;
                text-transform: uppercase;
                letter-spacing: 0.28px;
                white-space: nowrap;
                &--pre-ico {
                    background-color: @pre-ico;
                }
                &--KYC {
                    background-color: @KYC;
                }
                &--ending-ico {
                    background-color: @ending-ico;
                }
                &--white-list {
                    background-color: @white-list;
                }
                &--start-ico {
                    background-color: @start-ico;
                }
            }
            &-time {
                color: #525c6c;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                white-space: nowrap;
            }
            &-time-remain {
                color: #707986;
                font-family: @main-font;
                font-size: 11px;
                font-weight: 400;
                line-height: 11px;
                white-space: nowrap;
            }
        }
    }
}
.ico-list {
    margin-top: 32px;
    &_top-line {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
    }
    &_date {
        display: flex;
        flex-direction: column;
        &-month {
            margin-bottom: 7px;
            color: #333f52;
            font-family: @main-font;
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
        }
        &-day {
            color: #707986;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
        }
    }
    .radio-buttons {
        margin-left: auto;
        label {
    		b {
    			display: block;
    			padding: 10px 12px;
    			color: #525c6c;
    			font-family: @main-font;
    			font-size: 13px;
    			font-weight: 500;
    			line-height: 13px;
    		}
        }
    }
    &_item {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
        border-radius: 4px;
        background-color: #fafbfc;
        &-logo {
            display: flex;
            position: relative;
            min-width: 120px;
            height: 68px;
            img {
                margin: auto;
                //padding: 10px;
            }
        }
        &-name {
            display: flex;
            flex-direction: column;
            width: 180px;
            padding-left: 16px;
            h5 {
                color: #525c6c;
                font-family: @main-font;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
            }
        }
        &-time {
            color: #8f96a1;
            font-family: @main-font;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
        }
        &-reminder {
            a {
                margin-right: 40px;
                color: @main-color;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &-data {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: 16px;
            text-align: right;
        }
        &-time-remain {
            color: #707986;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
        }
        &-event {
            margin-left: auto;
            margin-bottom: 6px;
            padding: 3px 6px 2px;
            background-color: #fff;
            font-family: @main-font;
            font-size: 11px;
            font-weight: 700;
            line-height: 11px;
            text-transform: uppercase;
            letter-spacing: 0.28px;
            white-space: nowrap;
            &--pre-ico {
                border: 1px solid @pre-ico;
                color: @pre-ico;
            }
            &--KYC {
                border: 1px solid @KYC;
                color: @KYC;
            }
            &--ending-ico {
                border: 1px solid @ending-ico;
                color: @ending-ico;
            }
            &--white-list {
                border: 1px solid @white-list;
                color: @white-list;
            }
            &--start-ico {
                border: 1px solid @start-ico;
                color: @start-ico;
            }
        }
    }
}
