@import "vars";

.comments {
    margin-top: 32px;
    &-count {
        color: @dark;
        font-family: @main-font;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        span {
            margin-left: 17px;
            position: relative;
            background-color: #9ea4ad;
            padding: 3px 6px 1px 5px;
            border-radius: 8px;
            font-size: 11px;
            font-weight: 700;
            line-height: 10px;
            color: #fff;
            &::before {
                content: "";
                position: absolute;
                width: 11px;
                height: 6px;
                right: 50%;
                margin-right: -4px;
                top: 15px;
                background-image: @img-tail;
                background-repeat: no-repeat;
            }
        }
    }
    &-top-line {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-top: 20px;
    }
    &-button-set {
        .btn-add-comments {
    		margin-right: 24px;
    		border: 1px solid @light-light-grey;
    		background-color: #ffffff;
    		color: @link-color;
    		padding: 11px 12px 11px 34px;
    		&:hover {
    			color: @link-color;
                border: 1px solid @link-color;
                background-color: #fafbfc;
    		}
            &:active {
                background-color: #ffffff;
            }
    		&::before {
    			content: "";
    			position: absolute;
    			width: 14px;
    			height: 10px;
    			left: 13px;
    			top: 11px;
    			background-image: @img-arrow-button-icon;
    			background-position: center;
    			background-repeat: no-repeat;
    			z-index: 11;
    		}
    	}
        .btn-invite {
    		border: 1px solid @light-light-grey;
    		background-color: #ffffff;
    		color: @main-text-color;
    		padding: 11px 12px 11px 34px;
            &:hover {
    			color: @main-text-color;
                border: 1px solid @light-grey;
                background-color: #fafbfc;
    		}
            &:active {
                background-color: #ffffff;
            }
    		&::before {
    			content: "";
    			position: absolute;
    			width: 14px;
    			height: 10px;
    			left: 13px;
    			top: 12px;
    			background-image: @img-button-hat-icon;
    			background-position: center;
    			background-repeat: no-repeat;
    			z-index: 11;
    		}
    	}
    }
    &-checkbox-set {
        display: flex;
        justify-content: space-between;
        align-items:baseline;
        label {
        }
    }
    &-select {
        margin-left: 64px;
        position: relative;
    }
    &-list {
        margin-top: 28px;
    }
    &-item {
        //margin-top: 28px;
        margin-bottom: 17px;
        box-shadow: 0 2px 3px #e0e6ed;
        background-color: #ffffff;
        &_content {
            padding: 20px 0;
            margin-bottom: 4px;
            box-shadow: 0 2px 3px #e0e6ed;

        }
        &_top-line {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            //padding-right: 8px;
            padding: 0 28px;
            .user {
                //padding-top: 20px;
                margin-bottom: 10px;
                &_rating {
                    //margin-left: 5px;
                    //font-size: 10px;
                    //font-weight: 500;
                    //line-height: 20px;
                    //color: @accent-color;
                    //font-family: @main-font;
                }
            }
        }
        &_rating {
            display: flex;
            align-items: center;
            white-space: nowrap;
            .thumbs-up {
                width: 13px;
                height: 11px;
                background-image: @img-thumbs-up;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                &--active {
                    background-image: @img-thumbs-up-green-review;
                }
            }
            .thumbs-down {
                width: 13px;
                height: 11px;
        		background-image: @img-thumbs-down;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                &--active {
                    background-image: @img-thumbs-down-red-review;
                }
            }
            .ellipsis {
                width: 18px;
                height: 11px;
                margin-left: 32px;
        		background-image: @img-ellipsis;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            span {
                margin-left: 8px;
                color: @accent-color;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 500;
                line-height: 12px;
            }
        }
        &_text {
            padding: 0 28px 0 80px;
            margin-bottom: 12px;
            p {
                color: @main-text-color;
                font-family: @main-font;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        &_bottom-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 80px;
            padding-right: 28px;
        }
        &_reply {
            a {
                position: relative;
                padding-left: 16px;
                margin-right: 35px;
                color: @link-color;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 500;
                line-height: 14px;
                &:hover {
                    color: @link-hover-color;
                }
                &::before {
                    content: "";
        			position: absolute;
        			width: 12px;
        			height: 9px;
        			left: -1px;
        			top: 1px;
        			background-image: @img-answer-icon;
        			background-position: center;
        			background-repeat: no-repeat;
        			z-index: 11;
                }
            }
            span {
                position: relative;
                color: @gray;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    background-color: #959ca7;
                    top: 5px;
                    left: -20px;
                }
            }
        }
        &_date {
            span {
                color: @main-text-color;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
            }
        }
    }
    &_replys {
        //padding-left: 80px;
        background-color: #fafbfc;
        .replys-item {
            margin-bottom: 1px;
            //margin-top: 28px;
            padding: 16px 0;
            background-color: #fafbfc;
            box-shadow: 0 1px 0 #e0e6ed;
            &_top-line {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                //padding-right: 8px;
                padding: 0 28px 0 80px;
                .user {
                    margin-bottom: 10px;
                }
            }
            &_rating {
                display: flex;
                align-items: center;
                white-space: nowrap;
                .thumbs-up {
                    width: 13px;
                    height: 11px;
                    background-image: @img-thumbs-up;
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    &--active {
                        background-image: @img-thumbs-up-green-review;
                    }
                }
                .thumbs-down {
                    width: 13px;
                    height: 11px;
            		background-image: @img-thumbs-down;
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    &--active {
                        background-image: @img-thumbs-down-red-review;
                    }
                }
                .ellipsis {
                    width: 18px;
                    height: 11px;
                    margin-left: 32px;
            		background-image: @img-ellipsis;
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                }
                span {
                    margin-left: 8px;
                    color: @accent-color;
                    font-family: @main-font;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 12px;
                }
            }
            &_text {
                padding-left: 131px;
                padding-right: 28px;
                margin-bottom: 12px;
                p {
                    color: @main-text-color;
                    font-family: @main-font;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
            &_bottom-line {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 131px;
                padding-right: 28px;
            }
            &_reply {
                a {
                    position: relative;
                    padding-left: 16px;
                    margin-right: 35px;
                    color: @link-color;
                    font-family: @main-font;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 14px;
                    &::before {
                        content: "";
            			position: absolute;
            			width: 12px;
            			height: 9px;
            			left: -1px;
            			top: 1px;
            			background-image: @img-answer-icon;
            			background-position: center;
            			background-repeat: no-repeat;
            			z-index: 11;
                    }
                }
            }
            &_date {
                span {
                    color: @main-text-color;
                    font-family: @main-font;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 12px;
                }
            }
        }
    }
}
