@import "vars";

.footer {
     background-color: #ffffff;
    &-wrapper {
        display: flex;
        padding: 35px 0 25px;
        box-shadow: 0 -1px 0 #e0e6ed;
    }
    &_about-us {
    }
    &_logo {
        margin-bottom: 20px;
    }
    &_intro {
        margin-bottom: 20px;
        margin-right: 60px;
        p {
            max-width: 255px;
            color: #8f96a1;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
    }
    &_social {
        a {
            margin-right: 5px;
            position: relative;
            font-size: 0;
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 2px;
            &::before {
                content: "";
    			position: absolute;
    			width: 21px;
    			height: 21px;
    			left: 1px;
    			top: 2px;
    			background-position: center;
    			background-repeat: no-repeat;
    			z-index: 11;
            }
        }
        &-fb {
            background-color: #345c94;
            &::before {
                background-image: @img-fb-icon;
            }
        }
        &-tw {
            background-color: #00b0e9;
            &::before {
                background-image: @img-twitter-icon;
            }
        }
        &-vk {
            background-color: #00ac68;
            &::before {
                background-image: @img-mmm-icon;
            }
        }
    }
    &_nav {
        display: flex;
        margin-left: 60px;
        &-menu {
            margin-right: 50px;
            &-item {
                margin-bottom: 15px;
                a {
                    color: @accent-color;
                    font-family: @main-font;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: -0.1px;
                    white-space: nowrap;
                    text-decoration: underline;
                    text-decoration-color: rgba(68, 175, 54, 0.25);
                    &:hover {
                        text-decoration: none;
                    }
                }
                &--bold {
                    a {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                &--grey {
                    a {
                        font-size: 16px;
                        color: #8f96a1;
                        text-decoration-color: rgba(143, 150, 161, 0.25);
                    }
                }
            }
        }
    }
    &_search {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 20%;
        form {
            margin-bottom: 32px;
            &::before {
                content: "";
                position: absolute;
                width: 21px;
                height: 21px;
                right: 12px;
                top: 8px;
                background-image: @img-search-icon;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 11;
            }
        }
        input {
            padding: 8px 40px 8px 15px;
            width: 100%;
            color: #333f52;
            font-family: @main-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            border-radius: 4px;
            border: 1px solid #c5d0de;
            background-color: #ffffff;
        }
    }
    .footer-terms {
        background-color: #fafbfc;
        &_wrapper {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 16px 0;
        }
        a {
            margin-right: 32px;
            color: #8f96a1;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            text-decoration: underline;
            white-space: nowrap;
            &:hover {
                text-decoration: none;
                color: darken(#8f96a1, 10%);
            }
        }
        .worldpokerdeals {
            margin-left: auto;
            justify-content: flex-end;
            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: relative;
                margin-right: 0;
                color: #8f96a1;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
            }
            img {
                margin: auto;
                margin-left: 10px;
            }
        }
    }
}
