@import "vars";

.footer {
     background-color: #ffffff;
    &-wrapper {
        display: flex;
        padding: 35px 0 25px;
        box-shadow: 0 -1px 0 #e0e6ed;
    }
    &_about-us {
    }
    &_logo {
        margin-bottom: 20px;
    }
    &_intro {
        margin-bottom: 20px;
        margin-right: 60px;
        p {
            max-width: 255px;
            color: @light-grey;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
    }
    &_social {
        display: flex;
        &-item {
            margin-right: 5px;
            position: relative;
            font-size: 0;
            //display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 2px;
            background-image: @img-ico-socials;
            //background-position: center;
            background-repeat: no-repeat;
            &--fb {
                background-color: #345c94;
                background-position: 78% 24%;
            }
            &--tw {
                background-color: #00b0e9;
                background-position: 100% -1%;
            }
            &--google {
                background-color: #e34346;
                background-position: 22% -1%;
            }
            &--in {
                background-color: #0086ba;
                background-position: 20% 99%;
            }
            &--wk {
                background-color: #4c75a3;
                background-position: 43% 21%;
            }
            &--yb {
                background-color: #ce1312;
                background-position: -2px 3%;
            }
            &--m {
                background-color: #00ac68;
                background-position: -54px 52%;
            }
        }
    }
    &_nav {
        display: flex;
        margin-left: 60px;
        &-menu {
            margin-right: 50px;
            &-item {
                margin-bottom: 15px;
                a {
                    color: @accent-color;
                    font-family: @main-font;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: -0.1px;
                    white-space: nowrap;
                    text-decoration: underline;
                    text-decoration-color: rgba(68, 175, 54, 0.25);
                    &:hover {
                        color: @accent-hover-color;
                        text-decoration-color: rgba(68, 175, 54, 0.85);
                    }
                }
                &--bold {
                    a {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                &--grey {
                    a {
                        font-size: 16px;
                        color: @light-grey;
                        text-decoration-color: rgba(143, 150, 161, 0.25);
                        &:hover {
                            color: rgba(143, 150, 161, 0.85);
                            text-decoration-color: rgba(143, 150, 161, 0.85);
                        }
                    }
                }
            }
        }
    }
    &_search {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 20%;
        form {
            margin-bottom: 32px;
            &::before {
                content: "";
                position: absolute;
                width: 21px;
                height: 21px;
                right: 12px;
                top: 8px;
                background-image: @img-search-icon;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 11;
            }
        }
        input {
            padding: 8px 40px 8px 15px;
            width: 100%;
            color: @dark;
            font-family: @main-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            border-radius: 4px;
            border: 1px solid @light-light-grey;
            background-color: #ffffff;
        }
    }
    .footer-terms {
        background-color: #fafbfc;
        &_wrapper {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 16px 0;
        }
        a {
            margin-right: 32px;
            color: @light-grey;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            text-decoration: underline;
            white-space: nowrap;
            &:hover {
                text-decoration: none;
            }
        }
        .worldpokerdeals {
            margin-left: auto;
            justify-content: flex-end;
            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: relative;
                margin-right: 0;
                color: @light-grey;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
            }
            img {
                margin: auto;
                margin-left: 10px;
            }
        }
    }
}
