@import "vars";

.main-forum {
    margin-top: 32px;
}
.forum-section {
    //padding-bottom: 18px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
    border-radius: 4px;
    background-color: #fafbfc;
    &_title {
        padding: 19px 28px;
        background-color: #ced8e3;
        box-shadow: 0 1px 0 #ced8e3;
        border-radius: 4px 4px 0 0;
        border-left: 4px solid #7bd2fe;
        h2 {
            color: @dark;
            font-family: @main-font;
            font-size: 20px;
            font-weight: 700;
            line-height: 18px;
        }
    }
    &-content {
        padding: 24px 28px 1px;
    }
    &_item {
        margin-bottom: 22px;
        &:last-child {
            //margin-bottom: 0;
        }
        &--inner {
            .forum-subsection {
                margin-left: 30px;
            }
            .topic-count {
                margin-left: 60px;
            }
        }
        .forum-subsection {
            display: flex;
            align-items: baseline;;
            &_icon {
                margin-right: 15px;
                min-width: 13px;
                height: 10px;
                background-image: @img-subsection-icon;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                &--lock {
                    height: 16px;
                    background-image: @img-lock;
                }
                &--dropdown {
                    min-width: 12px;
                    height: 7px;
                    background-image: @img-subsection-icon-small;
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: default;
                }
            }
            &_title {
                margin-right: 16px;
                a {
                    color: @link-color;
                    font-family: @main-font;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 16px;
                    &:hover {
                        text-decoration: underline;
                        color: rgba(25, 145, 235, 0.85);
                    }
                }
                &--no-topics {
                    a {
                        color: rgba(25, 145, 235, 0.5);
                        &:hover {
                            text-decoration: underline;
                            color: rgba(25, 145, 235, 0.85);
                        }
                    }
                }
                &--dropdown {
                    a {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: -0.1px;
                    }
                }
                &--grey {
                    a {
                        color: @main-text-color;
                        &:hover {
                            text-decoration: underline;
                            color: @main-text-color;
                        }
                    }
                }
            }

        }
        .topic-count {
            margin-top: 3px;
            margin-left: 29px;
            span {
                color: @main-text-color;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 500;
                line-height: 12px;
            }
            &--no-topics {
                span {
                    color: rgba(82, 92, 108, 0.5);
                }
            }
            &--dropdown {
                padding-left: 29px;
            }
        }
    }
    .forum-topic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--dropdown {
            padding-top: 20px;
        }
        &_title {
            //margin-right: 15px;
            //margin-left: 38px;
            display: flex;
            a {
                color: @link-color;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 400;
                //line-height: 12px;
                &:hover {
                    text-decoration: underline;
                    color: rgba(25, 145, 235, 0.85);
                }
            }
        }
        &_comments-count {
            margin-right: 16px;
            margin-left: 15px;
            span {
                padding: 1px 4px;
                background-color: red;
                border-radius: 7px;
                background-color: #9ea4ad;
                color: #ffffff;
                font-family: @main-font;
                font-size: 9px;
                font-weight: 500;
                line-height: 10px;
            }
        }
        &_ratings {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &_rating {
            //margin-right: 16px;
            color: @purple;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
        }
        &_star {
            margin-left: 16px;
            width: 16px;
            height: 16px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                left: 0px;
                top: 0px;
                background-image: @img-star;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 11;
            }
            &--active {
                &::before {
                    background-image: @img-star-active;
                }
            }
        }
        &_numbers {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &_icon-whatisthat {
            width: 9px;
            height: 11px;
            background-image: @img-admin-icon;
        }
    }
    .topic-author {
        display: flex;
        //margin-left: 38px;
        margin-top: 2px;
        &_time {
            margin-right: 12px;
            color: @dark;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            white-space: nowrap;
        }
        &_name {
            position: relative;
            padding-left: 15px;
            margin-right: 7px;
            color: @gray;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            &::before {
                content: "";
                position: absolute;
                width: 11px;
                height: 11px;
                left: 1px;
                top: 1px;
                background-image: @img-user-icon;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 11;
            }
            &--admin {
                &::after {
                    content: "";
                    position: absolute;
                    width: 11px;
                    height: 11px;
                    right: -15px;
                    top: 1px;
                    background-image: @img-admin-icon;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 11;
                }
            }
        }
    }
}
