@import "vars";

.forum-subsection-content {
    margin-top: 32px;
}

.subsection-title {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    h1 {
        color: @dark;
        font-family: @main-font;
        font-size: 24px;
        font-weight: 700;
        line-height: 20px;
    }
}
.subsection-topics-amount {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    span {
        color: @gray;
        font-family: @main-font;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        font-weight: 400;
        b {
            font-weight: 700;
        }
    }
}
.subsection-topics-select {
    position: relative;
    select {
        padding: 6px 22px 6px 12px;
        color: @gray;
        font-family: @main-font;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        box-shadow: 0 1px 0 #e2e7ee;
        border-radius: 0 4px 4px 0;
        border: 1px solid rgba(197, 208, 222, 0.5);
        background-color: #ffffff;
        outline: none;
    }
    &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 33px;
        box-shadow: 0 1px 0 #e2e7ee;
        border-radius: 4px 0 0 4px;
        border: 1px solid rgba(197, 208, 222, 0.5);
        background-color: #ffffff;
        left: -39px;
        top: 0px;
        background-image: @img-topic-select-icon;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 4px;
        right: 16px;
        top: 15px;
        background-image: @img-select-arrow;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }
}
.subsection-content-item {
    padding: 18px 28px 18px 16px;
    margin-bottom: 1px;
    background-color: #fff;
    box-shadow: 0 1px 0 #e0e6ed;
    &:first-child {
        border-radius: 4px 4px 0 0;
    }
    &:last-child {
        border-radius: 0 0 4px 4px;
    }
    .user {
        margin-bottom: 0;
        .user_block {
            align-items: flex-start;
        }
        &_name {
            font-size: 14px;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: -0.07px;
            .user_rating {
                margin-left: 5px;
                font-size: 10px;
                font-weight: 500;
            }
        }
        &_rank {
            padding: 2px 4px;
        }
    }
    .forum-topic {
        &_title {
            a {
                color: @link-color;
                font-family: @main-font;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.11px;
                //max-width: 490px;
                &:hover {
                    text-decoration: underline;
                    color: @link-hover-color;
                }
            }
        }
        &_comments-count {
            position: relative;
            padding: 4px 6px 2px;
            border-radius: 8px;
            background-color: #9ea4ad;
            color: #ffffff;
            font-family: @main-font;
            font-size: 11px;
            font-weight: 700;
            line-height: 10px;
            &::before {
                content: "";
                position: absolute;
                width: 11px;
                height: 6px;
                right: 50%;
                margin-right: -4px;
                top: 15px;
                background-image: @img-tail;
                background-repeat: no-repeat;
            }
        }
        &_rating {
            margin-left: auto;
            color: @purple;
            font-family: @main-font;
            font-size: 14px;
            font-weight: 700;
            line-height: 15px;
        }
        &_ratings {
            display: flex;
            align-items: center;
        }
        &_star {
            margin-left: 32px;
            width: 16px;
            height: 16px;
            position: relative;
            background-image: @img-star;
            background-position: center;
            background-repeat: no-repeat;
            &--active {
                background-image: @img-star-active;
            }
        }
    }
    .topic-statistic {
        margin-top: 4px;
        &_time {
            margin-right: 27px;
            position: relative;
            color: @dark;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            white-space: nowrap;
            &::before {
                content: "";
                position: absolute;
                width: 3px;
                height: 3px;
                background-color: #959ca7;
                top: 5px;
                left: 95px;
            }
        }
        &_veiws {
            margin-right: 24px;
            color: @light-grey;
            font-family: @main-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            font-size: 14px;
        }
        .readers {
            position: relative;
            padding-left: 20px;
        }
    }
}
