@import "vars";

.header {
    background-color: #fff;
    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        .logo {
            margin-right: 64px;
        }
        &_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 2;
        }
        &_menu {
            display: flex;
            flex-grow: 2;
            flex-wrap: wrap;
        }
        &_item {
            width: 78px;
            margin-right: 38px;
            &:first-child {
                //margin-right: 60px;
            }
            a {
                display: block;
                padding: 0 10px;
                color: @accent-color;
                font-family: @main-font;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                white-space: nowrap;
                text-decoration: underline;
                text-decoration-color: rgba(68, 175, 54, 0.25);
            }
            &--active {
                //position: relative;
                &::before {
                    //content: "";
                    //position: absolute;;
                    //width: 100%;
                    //height: 4px;
                    //background-color: @accent-color;
                }
            }
        }
        &_faq {
            display: block;
            &-item {
                a {
                    padding: 0 10px;
                    color: #525c6c;
                    font-family: @main-font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: -0.1px;
                    text-decoration-color: rgba(143, 150, 161, 0.25);
                }
            }
        }
        &_user-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &--hidden {
                display: none;
            }
        }
        &_user-search {
            position: relative;
            form {
                &::before {
                    content: "";
                    position: absolute;
                    width: 21px;
                    height: 21px;
                    right: 12px;
                    top: 7px;
                    background-image: @img-search-icon;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 11;
                }
            }
            input {
                padding: 8px 40px 8px 15px;
                max-width: 180px;
                color: #333f52;
                font-family: @main-font;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                border-radius: 4px;
                border: 1px solid #c5d0de;
                background-color: #ffffff;
            }
        }
        &_user-language {
            position: relative;
            margin-left: 28px;
            .language {
                position: absolute;
                top: -10px;
            }
        }
        &_user-login {
            margin-left: 64px;
        }
        .user {
            margin-bottom: 0;
            &_icon {
                margin-left: 10px;
                margin-right: 0;
            }
            &_username-container {
                margin-left: 60px;
            }
            &_name {
                margin-bottom: 2px;
                white-space: nowrap;
            }
            &_notification {
                display: flex;
                justify-content: flex-end;
                //align-items: center;
                &-bell {
                    margin-left: 20px;
                    position: relative;
                    width: 16px;
                    height: 16px;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        right: 0px;
                        top: 1px;
                        background-image: @img-bell;
                        background-position: center;
                        background-repeat: no-repeat;
                        z-index: 11;
                    }
                }
                &-message {
                    position: relative;
                    width: 16px;
                    height: 16px;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        right: 0px;
                        top: 2px;
                        background-image: @img-message-icon;
                        background-position: center;
                        background-repeat: no-repeat;
                        z-index: 11;
                    }
                }
                &-num {
                    align-self: center;
                    margin-left: 6px;
                    padding: 2px 4px 1px 4px;
                    border-radius: 8px;
                    background-color: #ff3657;
                    font-size: 11px;
                    font-weight: 500;
                    line-height: 11px;
                    color: #fff;
                }
            }
        }
    }                //===========================FORUM-PAGES=================//
    &_bottom-line {
        background-color: #525c6c;
        padding: 20px 0;
        .searching-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 8px;
                height: 4px;
                right: 18px;
                top: 19px;
                background-image: @img-select-arrow;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 11;
            }
            h2 {
                margin-right: 100px;
            }
            form {
                display: flex;
                position: relative;
                justify-content: flex-end;
                flex-grow: 2;
                input {
                    flex-grow: 2;
                    border-radius: 4px 0 0 4px;
                    //border: 1px solid rgba(197, 208, 222, 0.5);
                    background-color: #ffffff;
                    padding: 11px 15px;
                    max-width: 460px;
                    color: #333f52;
                    font-family: @main-font;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2);
                    border: none;
                }
            }
            select {
                padding: 0 36px 0 12px;
                outline: none;
                color: #707986;
                font-family: @main-font;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                border: 1px solid rgba(197, 208, 222, 0.5);
                //border-top-right-radius: 4px;
                //border-bottom-right-radius: 4px;
                border-radius: 0 4px 4px 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                background-color: #ffffff;
            }
        }
    }           //----------MAIN-PAGE--------------//
    &_slider {
        &--show {
            display: block;
        }
        &--close {
            display: none;
        }
        &-collapse-icon {
            position: absolute;
            right: 20px;
            top: 22px;
            span {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 16px;
                    background-image: @img-collapse;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 11;
                    cursor: pointer;
                }
            }
        }
        display: none;
        box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
        background-image: radial-gradient(72% 51%, #C86DD7 0%, #3023AE 89%);
        &-item {
            position: relative;
            height: 400px;
            background-image: @img-slider-image;
            //background-position: center;
            //background-position: right;
            background-position: 90% 50%;
    		background-repeat: no-repeat;
        }
        &-title {
            width: 355px;
            padding-top: 68px;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
            color: #fafbfc;
            font-family: @main-font;
            font-size: 32px;
            font-weight: 500;
            line-height: 36px;
        }
        &-intro {
            width: 400px;
            padding-top: 25px;
            padding-bottom: 48px;
            font-family: @main-font;
            color: #fafbfc;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
        &-button {
            a {
                position: relative;
                padding: 20px 24px 12px 52px;
                background-image: radial-gradient(42% -82%, #3BB54F 87%, #268B87 100%);
                box-shadow: 0 0 36px #854dc5, 0 4px 0 #24827e;
                border-radius: 4px;
                text-shadow: 1px 1px 0 #268b86;
                color: #ffffff;
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: -0.17px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 16px;
                    left: 19px;
                    top: 17px;
                    background-image: @img-sigh-up;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 11;
                }
            }
        }
    }
    &_collapse {
            &--close {
                display: none;
            }
            &--show {
                display: block;
            }
            background-image: radial-gradient(27% -160%, #3BB54F 100%, #268B87 100%);
            h2 {
                color: #fafbfc;
                font-size: 18px;
                font-weight: 700;
                line-height: 18px;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
            }
            &-wrapper {
               padding: 12px 0;
                display: flex;
                align-items: center;
            }
            &-button {
                margin-left: auto;
                a {
                    position: relative;
                    padding: 11px 16px 9px 44px;
                    border-radius: 4px;
                    border: 2px solid #ffffff;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    letter-spacing: -0.15px;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 16px;
                        left: 14px;
                        top: 7px;
                        background-image: @img-sigh-up;
                        background-position: center;
                        background-repeat: no-repeat;
                        z-index: 11;
                    }
                }
            }
            &-icon {
                margin-left: 38px;
                span {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 16px;
                        left: -21px;
                        top: -8px;
                        background-image: @img-collapse;
                        background-position: center;
                        background-repeat: no-repeat;
                        z-index: 11;
                        cursor: pointer;
                    }
                }
            }
     }
                //----------------CABINET---------------//
    .cabinet-nav {
        background-color: #525c6c;
        &_menu {
            display: flex;
        }
        &_item {
            a {
                position: relative;
                display: block;
                padding: 18px 20px 18px 52px;
                color: #fafbfc;
                font-family: @main-font;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                white-space: nowrap;
                text-decoration: none;
                transition: all 0.25s;
                &:hover {
                    background-color: @body-bg;
                    color: #525c6c;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 16px;
                    left: 16px;
                    width: 25px;
                    height: 25px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            &--calendar {
                a {
                    &::before {
                        background-image: @img-calendar;
                    }
                }
            }
            &--cases {
                a {
                    &::before {
                        background-image: @img-cases;
                    }
                }
            }
            &--investment {
                a {
                    &::before {
                        background-image: @img-investment;
                    }
                }
            }
            &--statistic {
                a {
                    &::before {
                        background-image: @img-statistic;
                    }
                }
            }
            &--marked-ico {
                a {
                    &::before {
                        background-image: @img-marked-ico;
                    }
                }
            }
            &:first-child {
                a {
                    padding: 18px 45px 18px 0;
                    color: #c5d0de;
                    &:hover {
                        background-color: #525c6c;
                        color: #c5d0de;
                    }
                }
            }
            &--active {
                a {
                    display: block;
                    padding: 18px 20px 18px 52px;
                    background-color: @body-bg;
                    color: #525c6c;
                    font-family: @main-font;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    white-space: nowrap;
                    text-decoration: none;
                }
            }
        }
    }
    .catalogue-header {
        padding: 28px 0;
        background-color: #525c6c;
        h1 {
            color: #ffffff;
            font-family: @main-font;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -0.17px;
        }
        &_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_intro {
            p {
                margin-right: 50px;
                max-width: 600px;
                color: #c5d0de;
                font-family: @main-font;
                font-size: 13px;
                font-weight: 400;
                line-height: 16px;
            }
        }
        &_links {
            a {
                margin-right: 28px;
                color: #7dc773;
                font-family: @main-font;
                font-size: 13px;
                font-weight: 500;
                line-height: 20px;
                text-decoration: underline;
                text-decoration-style: dashed;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
