@import "vars";

.features {
    padding: 32px 0;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.15);
    background-color: #44af36;
    &_item {
        text-align: left;
        padding-left: 76px;
        padding-right: 5px;
        &::before {
            content: "";
			position: absolute;
			width: 60px;
			height: 60px;
			left: 16px;
			top: 0px;
			//background-image: @img-managment-icon;
			background-position: center;
			background-repeat: no-repeat;
			z-index: 11;
        }
        &--managment {
            &::before {
                background-image: @img-managment-icon;
            }
        }
        &--ratings {
            &::before {
                background-image: @img-ratings-icon;
            }
        }
        &--community {
            &::before {
                background-image: @img-community-icon;
            }
        }
        h3 {
            margin-bottom: 4px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
            color: #fafbfc;
            font-family: @main-font;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
        }
        p {
            color: #fafbfc;
            font-family: @main-font;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
        }
    }
}

.top5-ico {
    margin-top: 44px;
    h2 {
        margin-bottom: 26px;
        color: @dark;
        font-family: @main-font;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
    }
    .ico-item {
        display: flex;
        margin-bottom: 1px;
        position: relative;
        &_sponsored {
            top: 16px;
            right: -5px;
        }
        .rating {
            position: absolute;
            top: 14px;
            display: flex;
            //width: 30px;
            //height: 18px;

            z-index: 55;
            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                right: -6px;
                left: 0;
                border: 6px solid transparent;
                border-top-width: 9px;
                border-bottom-width: 9px;
                border-top-color: #f7981b;
                border-bottom-color: #f7981b;
                border-left-width: 0;
                transform: rotate(0deg);
            }
            span {
                margin: auto;
                padding: 2px 3px 1px 5px;
                color: #fff;
                background-color: #f7981b;
                font-family: @main-font;
                font-size: 14px;
                font-weight: 700;
                line-height: 15px;
                white-space: nowrap;
                z-index: 1;
            }
        }
        &_logo {
            position: relative;
            display: flex;
            min-width: 106px;
            min-height: 132px;
            img {
                margin: auto;
                //padding: 10px;
            }
        }
        &_content {
            flex-grow: 1;
            padding: 12px 16px 0 16px;
            box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
            background-color: #fafbfc;
            &--sponsored {
                background-color: #e0e6ed;
            }
        }
        &_title {
            margin-bottom: 6px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            h3 {
                color: @main-text-color;
                font-family: @main-font;
                font-size: 20px;
                font-weight: 700;
                line-height: 20px;
            }
        }
        &_category {
            padding: 5px 6px 0px;
            border-radius: 4px;
            border: 1px solid #cbd5e2;
            background-color: transparent;
            color: @main-text-color;
            font-family: @main-font;
            font-size: 10px;
            font-weight: 400;
            line-height: 10px;
            white-space: nowrap;
            &--sponsored {
                margin-left: 20px;
                align-self: flex-start;
            }
        }
        &_description {
            display: flex;
            margin-bottom: 10px;
            p {
                height: 32px;
                overflow: hidden;
                color: @gray;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
            }
        }
        &_data {
            margin-bottom: 3px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:last-child {
                margin-bottom: 16px;
            }
            &-trading-start-date {
                color: @main-text-color;
                font-family: @main-font;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: -0.35px;
            }
            &-full-amount {
                color: @dark;
                font-family: @main-font;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: -0.4px;
            }
            &-status {
                margin-left: 28px;
                position: relative;
                color: @accent-color;
                font-size: 11px;
                font-weight: 700;
                line-height: 11px;
                text-transform: uppercase;
                &::before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 13px;
                    left: -23px;
                    top: -4px;
                    background-image: @img-thumbs-up-green;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 11;
                }
                &--canseled {
                    color: @red;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 15px;
                        height: 13px;
                        left: -23px;
                        top: -1px;
                        background-image: @img-thumbs-up-red;
                        background-position: center;
                        background-repeat: no-repeat;
                        z-index: 11;
                    }
                }
            }
            &-trading-time-left {
                color: @light-grey;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
            }
            &-current-amount {
                color: @accent-color;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                &--canseled {
                    color: @red;
                }
            }
            &-current-percent {
                margin-left: 10px;
                color: @light-grey;
                font-family: @main-font;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
            }
            &-current-token-price {
                color: @main-text-color;
                font-family: @main-font;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: -0.35px;
            }
            &-token-x {
                position: relative;
                padding-left: 14px;
                color: @dark;
                font-family: @main-font;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                span {
                    font-size: 14px;
                }
                &::before {
        			content: "";
        			position: absolute;
        			width: 12px;
        			height: 8px;
        			left: -1px;
        			top: 7px;
        			background-image: @img-triangle-green;
        			background-position: center;
        			background-repeat: no-repeat;
        			z-index: 11;
        		}
            }
        }
    }
    &_button {
        text-align: center;
        margin-top: 36px;
        margin-bottom: 42px;
        a {
            padding: 18px 24px 14px;

            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: -0.17px;
        }
    }
}

.latest {
     background-color: #e0e6ed;
     h2 {
         margin-top: 34px;
         margin-bottom: 26px;
         color: @dark;
         font-family: @main-font;
         font-size: 20px;
         font-weight: 700;
         line-height: 18px;
     }
    &-forum {
        margin-bottom: 52px;
        &-item {
            padding: 18px 28px 18px 16px;
            margin-bottom: 1px;
            background-color: #fff;
            box-shadow: 0 1px 0 #e0e6ed;
            &:first-child {
                border-radius: 4px 4px 0 0;
            }
            &:last-child {
                border-radius: 0 0 4px 4px;
            }
            .user {
                .user_block {
                    align-items: flex-start;
                }
                margin-bottom: 0;
                &_name {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: -0.07px;
                    .user_rating {
                        margin-left: 5px;
                        font-size: 10px;
                        font-weight: 500;
                    }
                }
                &_rank {
                    //padding: 2px 4px;
                }
            }
            .forum-topic {
                &_title {
                    a {
                        color: @link-color;
                        font-family: @main-font;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: -0.11px;
                        max-width: 490px;
                        &:hover {
                            text-decoration: underline;
                            color: @link-hover-color;
                        }
                    }
                }
                &_comments-count {
                    position: relative;
                    padding: 4px 6px 2px;
                    border-radius: 8px;
                    background-color: #9ea4ad;
                    color: #ffffff;
                    font-family: @main-font;
                    font-size: 11px;
                    font-weight: 700;
                    line-height: 10px;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 11px;
                        height: 6px;
                        right: 50%;
                        margin-right: -4px;
                        top: 15px;
                        background-image: @img-tail;
                        background-repeat: no-repeat;
                    }
                }
                &_rating {
                    margin-left: auto;
                    color: @purple;
                    font-family: @main-font;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 15px;
                }
                &_ratings {
                    display: flex;
                    align-items: center;
                }
                &_star {
                    margin-left: 32px;
                    width: 16px;
                    height: 16px;
                    position: relative;
                    background-image: @img-star;
                    background-position: center;
                    background-repeat: no-repeat;
                    &--active {
                        background-image: @img-star-active;
                    }
                }
            }
            .topic-statistic {
                margin-top: 4px;
                &_time {
                    margin-right: 27px;
                    position: relative;
                    color: @dark;
                    font-family: @main-font;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 12px;
                    white-space: nowrap;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 3px;
                        height: 3px;
                        background-color: #959ca7;
                        top: 5px;
                        left: 95px;
                    }
                }
                &_veiws {
                    margin-right: 24px;
                    color: @light-grey;
                    font-family: @main-font;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 12px;
                    font-size: 14px;
                }
                .readers {
                    position: relative;
                    padding-left: 20px;
                }
            }
        }
    }
    &-reviews {
        position: relative;
        .user {
            margin-bottom: 0;
        }
        .user_block {
            display: flex;
            align-items: flex-end;
        }
        &_item {
            position: relative;
            margin-bottom: 18px;
            padding: 16px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
            border-radius: 4px 4px 4px 0;
            background-color: #fafbfc;
            &::before {
                content: "";
                position: absolute;
                left: 74px;
                bottom: -9px;
                border: 6px solid transparent;
                border-left: 6px solid #fafbfc;
                border-top: 6px solid #fafbfc;
            }
        }
        &_time {
            color: @light-grey;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
        }
        &_ico {
            &-name {
                color: @link-color;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                &:hover {
                    color: @link-hover-color;
                }
            }
            &-rating {
                display: flex;
                justify-content: flex-end;
                .rating_tag{
                    position: relative;
                    display: flex;
                    width: 40px;
                    height: 20px;
                    background-color: @accent-color;
                    &::before {
                        content: "";
                        display: inline-block;
                        position: relative;
                        border: 10px solid #fafbfc;
                        border-left-width: 0px;
                        border-right-width: 10px;
                        border-right-color: transparent;
                    }
                    span {
                        margin: auto;
                        white-space: nowrap;
                        color: #fff;
                        font-family: @main-font;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 21px;
                    }
                }
            }
        }
    }
}

.telegram {
    background-color: #63a8dc;
    &_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;
    }
    &_image {
        margin-right: 40px;
    }
    &_call2action {
        margin-right: 34px;
        span {
            color: #ffffff;
            font-size: 24px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.31px;
        }
    }
    &_button {
        a {
            position: relative;
            padding: 12px 12px 8px 40px;
            border-radius: 4px;
            border: 1px solid #ffffff;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 17px;
                left: 9px;
                top: 10px;
                background-image: @img-tg-logo;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 11;
            }
        }
    }
}

.add-review {
    h3 {
        color: @dark;
        font-family: @main-font;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
    }
    form {
        width: 100%;
    }
    &_form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-grow: 2;
    }
    &_selects {
        background-color: #e0e6ed;
        &-item {
            display: flex;
            align-items: center;
            label {
                color: @dark;
                font-family: @main-font;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
            }
            select {
                padding: 10px 36px 7px 12px;
                color: @main-text-color;
                font-family: @main-font;
                font-size: 15px;
                font-weight: 400;
                line-height: 18px;
                box-shadow: 0 1px 0 @light-light-grey;
                border-radius: 4px;
                border: 1px solid @light-light-grey;
                background-color: #ffffff;
            }
        }
    }
}

.ico-item_sponsored {
    position: absolute;
    //margin-right: -22px;
    top: 16px;
    right: -6px;
    padding: 5px 10px 2px 14px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #f3b325;
    background-color: #ffffff;
    color: @orange;
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
    &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 28px;
        left: -27px;
        top: -4px;
        background-image: @img-sponsored;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }
    &::after {
        content: "";
        position: absolute;
        right: -1px;
        bottom: 17px;
        border: 3px solid transparent;
        border-bottom: 3px solid #f3b325;
        border-left: 3px solid #f3b325;
    }
}
