@import url('https://fonts.googleapis.com/css?family=Roboto');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.ico-stats_header {
  padding: 32px 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ico-stats_header h1 {
  margin-bottom: 4px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
}
.ico-stats_header span {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.ico-stats_table {
  width: 100%;
  margin-bottom: 52px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  background-color: #fafbfc;
}
.ico-stats_table-header {
  background-color: #e0e6ed;
  border-bottom: 2px solid #c5d0de;
}
.ico-stats_table-header-cell {
  padding: 18px 12px 14px;
  border-right: 1px solid #e9ecee;
}
.ico-stats_table-header-cell:last-child {
  border-right: none;
}
.ico-stats_table-header-cell--name {
  padding-left: 22px;
  width: 23%;
}
.ico-stats_table-header-cell--24h {
  width: 11%;
}
.ico-stats_table-header-cell--roi {
  width: 12%;
}
.ico-stats_table-header-cell--date {
  width: 15%;
}
.ico-stats_table-header-cell--price {
  width: 13%;
}
.ico-stats_table-header-cell span {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
}
.ico-stats_item:hover {
  background-color: #fff;
  box-shadow: 0 1px 0 #e0e6ed, 0 -1px 0 #e0e6ed;
}
.ico-stats_item-cell {
  padding: 14px 12px;
  border-right: 1px solid #e9ecee;
}
.ico-stats_item-cell:last-child {
  border-right: none;
}
.ico-stats_item-logo {
  display: inline-block;
  margin-right: 8px;
}
.ico-stats_item-name {
  position: relative;
}
.ico-stats_item-name span {
  color: #333f52;
  font-family: "RobotoMedium";
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.2px;
}
.ico-stats_item-name b {
  font-family: "RobotoMedium";
  color: #8f96a1;
  letter-spacing: -0.2px;
}
.ico-stats_item-name::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 98%;
  left: 0px;
  top: 0px;
  z-index: 11;
}
.ico-stats_item-name--bts::before {
  background-color: #8f5bc0;
}
.ico-stats_item-name--MON::before {
  background-color: #c28f58;
}
.ico-stats_item-name--OPA::before {
  background-color: #429db0;
}
.ico-stats_item-name--EOS::before {
  background-color: #ffa635;
}
.ico-stats_item-name--XMR::before {
  background-color: #6982fc;
}
.ico-stats_item-name--DASH::before {
  background-color: #ff6d71;
}
.ico-stats_item-name--NEO::before {
  background-color: #bcbdbc;
}
.ico-stats_item-name--ETH::before {
  background-color: #85b222;
}
.ico-stats_item-24h b,
.ico-stats_item-roi-week b,
.ico-stats_item-roi-month b {
  padding: 2px 8px 2px;
  color: #8f96a1;
  border-radius: 9px;
  border: 1px solid #8f96a1;
  font-family: "RobotoBold";
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
}
.ico-stats_item-24h span,
.ico-stats_item-roi-week span,
.ico-stats_item-roi-month span {
  position: relative;
  margin: auto;
  padding-left: 18px;
  color: #707986;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 16px;
}
.ico-stats_item-24h span::before,
.ico-stats_item-roi-week span::before,
.ico-stats_item-roi-month span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  left: -4px;
  top: 3px;
  background-image: url('../img/triangle-green.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.ico-stats_item-24h--negative span::before,
.ico-stats_item-roi-week--negative span::before,
.ico-stats_item-roi-month--negative span::before {
  left: -4px;
  top: 3px;
  background-image: url('../img/triengle-red.svg');
}
.ico-stats_item-date span {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.2px;
}
.ico-stats_item-price,
.ico-stats_item-current-price {
  padding: 12px 12px 0px 12px;
}
.ico-stats_item-price-usd,
.ico-stats_item-current-price-usd {
  display: block;
  white-space: nowrap;
  color: #333f52;
  font-family: "RobotoMedium";
  font-size: 16px;
  line-height: 16px;
}
.ico-stats_item-price-btc,
.ico-stats_item-current-price-btc {
  opacity: 0.6;
  color: #8f96a1;
  font-family: "RobotoMedium";
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
}
