@import url('https://fonts.googleapis.com/css?family=Roboto');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.events {
  margin-top: 32px;
}
.events .events-filter {
  padding: 0 24px;
  border-top: 4px solid #c5d0de;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}
.events .events-filter form legend {
  padding-top: 18px;
  padding-bottom: 15px;
  color: #525c6c;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 1.3px;
}
.events .events-filter form .dropdown::before {
  right: 5px;
  top: 23px;
}
.events .events-filter form .choosing-form_list li {
  display: flex;
  margin-bottom: 5px;
}
.events .events-filter form .choosing-form_list li label span {
  color: #333f52;
}
.events .events-filter form .choosing-form_list li span {
  margin-left: auto;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.events .current-events {
  margin-top: 28px;
  margin-bottom: 36px;
  padding: 20px 24px;
  border-top: 4px solid #5bb0d5;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  background-color: #fafbfc;
}
.events .current-events h3 {
  margin-bottom: 18px;
  color: #525c6c;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}
.events .current-events .radio-buttons {
  margin-bottom: 18px;
}
.events .current-events_item {
  margin-top: 20px;
}
.events .current-events_item-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.events .current-events_item-data a {
  margin-top: 2px;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-decoration: underline;
}
.events .current-events_item-data a:hover {
  text-decoration: none;
}
.events .current-events_item-name {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
}
.events .current-events_item-event {
  padding: 3px 4px 2px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  white-space: nowrap;
}
.events .current-events_item-event--pre-ico {
  background-color: #f7981b;
}
.events .current-events_item-event--KYC {
  background-color: #59b6b2;
}
.events .current-events_item-event--ending-ico {
  background-color: #8f72c7;
}
.events .current-events_item-event--white-list {
  background-color: #ff819e;
}
.events .current-events_item-event--start-ico {
  background-color: #44af36;
}
.events .current-events_item-time {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  white-space: nowrap;
}
.events .current-events_item-time-remain {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  white-space: nowrap;
}
.ico-list {
  margin-top: 32px;
}
.ico-list_top-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.ico-list_date {
  display: flex;
  flex-direction: column;
}
.ico-list_date-month {
  margin-bottom: 7px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
.ico-list_date-day {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.ico-list .radio-buttons {
  margin-left: auto;
}
.ico-list .radio-buttons label b {
  display: block;
  padding: 10px 12px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
}
.ico-list_item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  background-color: #fafbfc;
}
.ico-list_item-logo {
  display: flex;
  position: relative;
  min-width: 120px;
  height: 68px;
}
.ico-list_item-logo img {
  margin: auto;
}
.ico-list_item-name {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding-left: 16px;
}
.ico-list_item-name h5 {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.ico-list_item-time {
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.ico-list_item-reminder a {
  margin-right: 40px;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-decoration: underline;
}
.ico-list_item-reminder a:hover {
  text-decoration: none;
}
.ico-list_item-data {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 16px;
  text-align: right;
}
.ico-list_item-time-remain {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.ico-list_item-event {
  margin-left: auto;
  margin-bottom: 6px;
  padding: 3px 6px 2px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  white-space: nowrap;
}
.ico-list_item-event--pre-ico {
  border: 1px solid #f7981b;
  color: #f7981b;
}
.ico-list_item-event--KYC {
  border: 1px solid #59b6b2;
  color: #59b6b2;
}
.ico-list_item-event--ending-ico {
  border: 1px solid #8f72c7;
  color: #8f72c7;
}
.ico-list_item-event--white-list {
  border: 1px solid #ff819e;
  color: #ff819e;
}
.ico-list_item-event--start-ico {
  border: 1px solid #44af36;
  color: #44af36;
}
.timeline {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-bottom: 12px;
  overflow: hidden;
  position: relative;
}
.timeline--calendar::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  top: 60px;
  right: 0;
  background-image: linear-gradient(to right, rgba(250, 251, 252, 0) 0%, #eff3f6 100%);
  z-index: 44;
}
.timeline_top-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.timeline_today {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.timeline_today-date {
  margin-bottom: 7px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
.timeline_today-time {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.timeline_today-time-UTC {
  margin-left: 3px;
  color: #1991eb;
  font-size: 10px;
  letter-spacing: -0.08px;
}
.timeline_date {
  display: flex;
  flex-direction: column;
}
.timeline_date--next-day {
  margin-left: 50px;
}
.timeline_date-month {
  margin-bottom: 7px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
.timeline_date-day {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.timeline .radio-buttons {
  margin-left: auto;
}
.timeline .radio-buttons label b {
  display: block;
  padding: 10px 12px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
}
.timeline .radio-buttons .btn {
  margin-bottom: 20px;
  padding: 10px 17px 9px;
  box-shadow: 0 2px 0 #35882a;
  border-radius: 4px;
  background-color: #44af36;
  color: #fff;
}
.timeline_item {
  position: relative;
  display: flex;
  height: 48px;
  border-bottom: 1px solid #e0e6ed;
}
.timeline_item:last-child {
  border-bottom: none;
}
.timeline_item--calendar {
  height: auto;
}
.timeline_item-data {
  display: flex;
  flex-direction: column;
  padding: 14px 10px 16px 12px;
}
.timeline_item-time {
  min-width: 48px;
}
.timeline_item-time span {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 36px;
}
.timeline_item-date {
  margin-bottom: 4px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.timeline_item-day {
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.timeline_item-scale {
  flex-grow: 2;
  background-color: #ffffff;
}
.timeline_item-scale--calendar {
  background-color: #fafbfc;
  min-width: 192px;
  border-right: 1px solid #e0e6ed;
}
.timeline_item-scale--calendar-today {
  background-color: #fff;
}
.timeline_event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  height: 100%;
}
.timeline_event--KYC {
  position: relative;
  background-color: rgba(99, 203, 198, 0.75);
  border-top: 4px solid #59b6b2;
}
.timeline_event--KYC::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: linear-gradient(180deg, rgba(89, 182, 178, 0.3) 0%, rgba(89, 182, 178, 0) 100%);
  z-index: 11;
}
.timeline_event--white-list {
  position: relative;
  background-color: rgba(255, 129, 158, 0.75);
  border-top: 4px solid #ff819e;
}
.timeline_event--white-list::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: linear-gradient(180deg, rgba(255, 129, 158, 0.3) 0%, rgba(255, 129, 158, 0) 100%);
  z-index: 11;
}
.timeline_event--ending-ico {
  position: relative;
  background-color: rgba(143, 114, 199, 0.75);
  border-top: 4px solid #8f72c7;
}
.timeline_event--ending-ico::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: linear-gradient(180deg, rgba(171, 149, 211, 0.3) 0%, rgba(171, 149, 212, 0) 100%);
  z-index: 11;
}
.timeline_event--pre-ico {
  position: relative;
  background-color: rgba(247, 152, 27, 0.75);
  border-top: 4px solid #f7981b;
}
.timeline_event--pre-ico::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: linear-gradient(180deg, rgba(247, 152, 27, 0.3) 0%, rgba(247, 152, 27, 0) 100%);
  z-index: 11;
}
.timeline_event--start-ico {
  position: relative;
  background-color: rgba(69, 175, 54, 0.75);
  border-top: 4px solid #44af36;
}
.timeline_event--start-ico::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: linear-gradient(180deg, rgba(69, 175, 54, 0.3) 0%, rgba(69, 175, 54, 0) 100%);
  z-index: 11;
}
.timeline_event-data {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.timeline_event-time {
  margin-bottom: 2px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.timeline_event-name {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}
.timeline_event-name--calendar {
  font-size: 12px;
}
.timeline_event-type {
  margin-right: 12px;
}
.timeline_event-type span {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.timeline_event-notification-bell {
  display: inline-block;
  position: relative;
  margin-left: 8px;
  width: 9px;
  height: 9px;
}
.timeline_event-notification-bell:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 9px;
  height: 9px;
  background-image: url('../img/bell-small.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 33;
}
.timeline_event-notification-message {
  display: inline-block;
  position: relative;
  margin-left: 8px;
  width: 9px;
  height: 9px;
}
.timeline_event-notification-message:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 9px;
  height: 9px;
  background-image: url('../img/message-small.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 33;
}
.timeline_next24 {
  margin-top: 20px;
  margin-left: 50px;
}
.timeline_next24 a {
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
}
.timeline_next24 a:hover {
  text-decoration: none;
}
.radio-buttons {
  display: flex;
}
.radio-buttons label {
  flex-grow: 1;
  text-align: center;
}
.radio-buttons label:first-child b {
  border-radius: 4px 0 0 4px;
  border: 1px solid #44af36;
}
.radio-buttons label:last-child b {
  border-radius: 0 2px 2px 0;
  border: 1px solid #44af36;
}
.radio-buttons label input[type=radio] {
  display: none;
  position: relative;
  top: 2px;
}
.radio-buttons label b {
  display: block;
  padding: 10px 0px;
  margin-left: -1px;
  color: #44af36;
  background-color: #fff;
  border: 1px solid #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
}
