@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.comments {
  margin-top: 32px;
}
.comments-count {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.comments-count span {
  margin-left: 17px;
  position: relative;
  background-color: #9ea4ad;
  padding: 3px 6px 1px 5px;
  border-radius: 8px;
  font-size: 11px;
  font-weight: 700;
  line-height: 10px;
  color: #fff;
}
.comments-count span::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 6px;
  right: 50%;
  margin-right: -4px;
  top: 15px;
  background-image: url('../img/tail.svg');
  background-repeat: no-repeat;
}
.comments-top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.comments-button-set .btn-add-comments {
  margin-right: 24px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  color: #1991eb;
  padding: 11px 12px 11px 34px;
}
.comments-button-set .btn-add-comments:hover {
  color: #1991eb;
  border: 1px solid #1991eb;
  background-color: #fafbfc;
}
.comments-button-set .btn-add-comments:active {
  background-color: #ffffff;
}
.comments-button-set .btn-add-comments::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 10px;
  left: 13px;
  top: 11px;
  background-image: url('../img/arrow-button-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.comments-button-set .btn-invite {
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  color: #525c6c;
  padding: 11px 12px 11px 34px;
}
.comments-button-set .btn-invite:hover {
  color: #525c6c;
  border: 1px solid #8f96a1;
  background-color: #fafbfc;
}
.comments-button-set .btn-invite:active {
  background-color: #ffffff;
}
.comments-button-set .btn-invite::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 10px;
  left: 13px;
  top: 12px;
  background-image: url('../img/button-hat-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.comments-checkbox-set {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.comments-select {
  margin-left: 64px;
  position: relative;
  width: 125px;
}
.comments-list {
  margin-top: 28px;
}
.comments-item {
  margin-bottom: 17px;
  box-shadow: 0 2px 3px #e0e6ed;
  background-color: #ffffff;
}
.comments-item_content {
  padding: 20px 0;
  margin-bottom: 4px;
  box-shadow: 0 2px 3px #e0e6ed;
}
.comments-item_top-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 28px;
}
.comments-item_top-line .user {
  margin-bottom: 10px;
}
.comments-item_rating {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.comments-item_rating .thumbs-up {
  width: 13px;
  height: 11px;
  background-image: url('../img/thumbs-sprite.svg');
  background-position: 92% 14%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.comments-item_rating .thumbs-up--active {
  background-position: 92% 76%;
}
.comments-item_rating .thumbs-down {
  width: 13px;
  height: 15px;
  background-image: url('../img/thumbs-sprite.svg');
  background-position: 8% 85%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.comments-item_rating .thumbs-down--active {
  background-position: 46% 85%;
}
.comments-item_rating .ellipsis {
  width: 18px;
  height: 11px;
  margin-left: 32px;
  background-image: url('../img/ellipsis.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.comments-item_rating span {
  margin-left: 8px;
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.comments-item_text {
  padding: 0 28px 0 80px;
  margin-bottom: 12px;
}
.comments-item_text p {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.comments-item_bottom-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 28px;
}
.comments-item_reply a {
  position: relative;
  padding-left: 16px;
  margin-right: 35px;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.comments-item_reply a:hover {
  color: rgba(25, 145, 235, 0.85);
}
.comments-item_reply a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 9px;
  left: -1px;
  top: 1px;
  background-image: url('../img/answer-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.comments-item_reply span {
  position: relative;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.comments-item_reply span::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #959ca7;
  top: 5px;
  left: -20px;
}
.comments-item_date span {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.comments_replys {
  background-color: #fafbfc;
}
.comments_replys .replys-item {
  margin-bottom: 1px;
  padding: 16px 0;
  background-color: #fafbfc;
  box-shadow: 0 1px 0 #e0e6ed;
}
.comments_replys .replys-item_top-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 28px 0 80px;
}
.comments_replys .replys-item_top-line .user {
  margin-bottom: 10px;
}
.comments_replys .replys-item_rating {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.comments_replys .replys-item_rating .thumbs-up {
  width: 13px;
  height: 11px;
  background-image: url('../img/thumbs-sprite.svg');
  background-position: 92% 14%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.comments_replys .replys-item_rating .thumbs-up--active {
  background-position: 92% 76%;
}
.comments_replys .replys-item_rating .thumbs-down {
  width: 13px;
  height: 15px;
  background-image: url('../img/thumbs-sprite.svg');
  background-position: 8% 85%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.comments_replys .replys-item_rating .thumbs-down--active {
  background-position: 46% 85%;
}
.comments_replys .replys-item_rating .ellipsis {
  width: 18px;
  height: 11px;
  margin-left: 32px;
  background-image: url('../img/ellipsis.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.comments_replys .replys-item_rating span {
  margin-left: 8px;
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.comments_replys .replys-item_text {
  padding-left: 131px;
  padding-right: 28px;
  margin-bottom: 12px;
}
.comments_replys .replys-item_text p {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.comments_replys .replys-item_bottom-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 131px;
  padding-right: 28px;
}
.comments_replys .replys-item_reply a {
  position: relative;
  padding-left: 16px;
  margin-right: 35px;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.comments_replys .replys-item_reply a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 9px;
  left: -1px;
  top: 1px;
  background-image: url('../img/answer-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.comments_replys .replys-item_date span {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
