@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.comments-section {
  margin-top: 32px;
}
.comments-section .comments-count {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.comments-section .comments-count span {
  margin-left: 17px;
  position: relative;
  background-color: #9ea4ad;
  padding: 3px 6px;
  border-radius: 8px;
  font-size: 11px;
  font-weight: 700;
  line-height: 10px;
  color: #fff;
}
.comments-section .comments-count span::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 6px;
  right: 50%;
  margin-right: -4px;
  top: 18px;
  background-image: url('../img/tail.svg');
  background-repeat: no-repeat;
}
.comments-section_top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.comments-section_checkbox-set {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.comments-section_checkbox-set .comments-section_select {
  margin-left: 64px;
  position: relative;
}
.comments-section_checkbox-set .comments-section_select select {
  padding: 6px 32px 6px 12px;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  box-shadow: 0 1px 0 #e2e7ee;
  border-radius: 0 4px 4px 0;
  border: 1px solid rgba(197, 208, 222, 0.5);
  background-color: #ffffff;
  outline: none;
}
.comments-section_checkbox-set .comments-section_select::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 33px;
  box-shadow: 0 1px 0 #e2e7ee;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgba(197, 208, 222, 0.5);
  background-color: #ffffff;
  left: -39px;
  top: 0px;
  background-image: url('../img/topic-select-icon.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.comments-section_checkbox-set .comments-section_select::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  left: 103px;
  top: 15px;
  background-image: url('../img/select-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.comments-section .user-comment {
  margin-top: 28px;
  box-shadow: 0 2px 3px #e0e6ed;
  background-color: #ffffff;
}
.comments-section .user-comment .user-comment_top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px 0 28px;
}
.comments-section .user-comment .user-comment_top-line .user {
  padding-top: 20px;
}
.comments-section .user-comment .user-comment_top-line .user_rating {
  margin-left: 5px;
  font-size: 10px;
  font-weight: 500;
  color: #44af36;
  font-family: 'Roboto', sans-serif;
}
.comments-section .user-comment .user-comment_rating {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.comments-section .user-comment .user-comment_rating a {
  margin-left: 4px;
  width: 18px;
  height: 18px;
}
.comments-section .user-comment .user-comment_rating .thumbs-up {
  text-indent: -9999px;
  background-image: url('../img/thumbs-up.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.comments-section .user-comment .user-comment_rating .thumbs-down {
  text-indent: -9999px;
  background-image: url('../img/thumbs-down.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.comments-section .user-comment .user-comment_rating .ellipsis {
  margin-left: 24px;
  text-indent: -9999px;
  background-image: url('../img/ellipsis.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.comments-section .user-comment .user-comment_rating span {
  margin-left: 4px;
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.comments-section .user-comment .user-comment_text {
  padding-left: 87px;
  padding-right: 28px;
  margin-bottom: 14px;
}
.comments-section .user-comment .user-comment_text p {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.comments-section .user-comment .user-comment_bottom-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 87px;
  padding-right: 28px;
  padding-bottom: 20px;
  margin-bottom: 3px;
  box-shadow: 0 2px 3px #e0e6ed;
}
.comments-section .user-comment .user-comment_answer a {
  position: relative;
  padding-left: 16px;
  margin-right: 35px;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.comments-section .user-comment .user-comment_answer a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 9px;
  left: -1px;
  top: 1px;
  background-image: url('../img/answer-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.comments-section .user-comment .user-comment_answer span {
  position: relative;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.comments-section .user-comment .user-comment_answer span::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #959ca7;
  top: 5px;
  left: -20px;
}
.comments-section .user-comment .user-comment_date span {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.comments-section .user-comment .user-comment_subcomments .user-comment {
  margin-top: 0px;
  margin-bottom: -2px;
  padding-left: 55px;
  box-shadow: 0 1px 0 #e0e6ed;
  background-color: #fafbfc;
}
.comments-section .user-comment .user-comment_subcomments .user-comment .user-comment_bottom-line {
  box-shadow: none;
}
