@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.footer {
  background-color: #ffffff;
}
.footer-wrapper {
  display: flex;
  padding: 35px 0 25px;
  box-shadow: 0 -1px 0 #e0e6ed;
}
.footer_logo {
  margin-bottom: 20px;
}
.footer_intro {
  margin-bottom: 20px;
  margin-right: 60px;
}
.footer_intro p {
  max-width: 255px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.footer_social a {
  margin-right: 5px;
  position: relative;
  font-size: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
.footer_social a::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 1px;
  top: 2px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.footer_social-fb {
  background-color: #345c94;
}
.footer_social-fb::before {
  background-image: url('../img/fb-icon.svg');
}
.footer_social-tw {
  background-color: #00b0e9;
}
.footer_social-tw::before {
  background-image: url('../img/twitter-ico.svg');
}
.footer_social-vk {
  background-color: #00ac68;
}
.footer_social-vk::before {
  background-image: url('../img/mmm-icon.svg');
}
.footer_nav {
  display: flex;
  margin-left: 60px;
}
.footer_nav-menu {
  margin-right: 50px;
}
.footer_nav-menu-item {
  margin-bottom: 15px;
}
.footer_nav-menu-item a {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-color: rgba(68, 175, 54, 0.25);
}
.footer_nav-menu-item a:hover {
  text-decoration: none;
}
.footer_nav-menu-item--bold a {
  font-size: 16px;
  font-weight: 500;
}
.footer_nav-menu-item--grey a {
  font-size: 16px;
  color: #8f96a1;
  text-decoration-color: rgba(143, 150, 161, 0.25);
}
.footer_search {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 20%;
}
.footer_search form {
  margin-bottom: 32px;
}
.footer_search form::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  right: 12px;
  top: 8px;
  background-image: url('../img/search-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.footer_search input {
  padding: 8px 40px 8px 15px;
  width: 100%;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
}
.footer .footer-terms {
  background-color: #fafbfc;
}
.footer .footer-terms_wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 16px 0;
}
.footer .footer-terms a {
  margin-right: 32px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  white-space: nowrap;
}
.footer .footer-terms a:hover {
  text-decoration: none;
  color: #737c8a;
}
.footer .footer-terms .worldpokerdeals {
  margin-left: auto;
  justify-content: flex-end;
}
.footer .footer-terms .worldpokerdeals a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-right: 0;
  color: #8f96a1;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.footer .footer-terms .worldpokerdeals img {
  margin: auto;
  margin-left: 10px;
}
