.main-forum {
  margin-top: 32px;
}
.main-forum .forum-section {
  padding-bottom: 18px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  background-color: #fafbfc;
}
.main-forum .forum-section_title {
  padding: 19px 28px;
  background-color: #beceda;
  box-shadow: 0 1px 0 #beceda;
  border-radius: 4px 4px 0 0;
  border-left: 4px solid #7bd2fe;
}
.main-forum .forum-section_title h3 {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
}
.main-forum .forum-section_subsection {
  padding: 20px 34px 0 34px;
}
.main-forum .forum-section_subsection .forum-subsection {
  display: flex;
  align-items: baseline;
}
.main-forum .forum-section_subsection .forum-subsection_icon {
  margin-right: 15px;
  width: 13px;
  height: 10px;
  background-image: url('../img/subsection-icon.svg');
  cursor: pointer;
}
.main-forum .forum-section_subsection .forum-subsection_icon--lock {
  height: 16px;
  background-image: url('../img/lock.svg');
}
.main-forum .forum-section_subsection .forum-subsection_icon--dropdown {
  width: 12px;
  height: 7px;
  background-image: url('../img/subsection-icon-small.svg');
}
.main-forum .forum-section_subsection .forum-subsection_title {
  margin-right: 16px;
}
.main-forum .forum-section_subsection .forum-subsection_title a {
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.main-forum .forum-section_subsection .forum-subsection_title a:hover {
  text-decoration: underline;
  color: #1175c0;
}
.main-forum .forum-section_subsection .forum-subsection_title--dropdown a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.1px;
}
.main-forum .forum-section_subsection .forum-subsection_title--grey a {
  color: #525c6c;
}
.main-forum .forum-section_subsection .forum-subsection--dropdown {
  padding-left: 29px;
  padding-top: 20px;
}
.main-forum .forum-section_subsection .topic-count {
  margin-top: 3px;
  margin-left: 29px;
}
.main-forum .forum-section_subsection .topic-count span {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.main-forum .forum-section_subsection .topic-count--dropdown {
  padding-left: 29px;
}
.main-forum .forum-section .forum-topic {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main-forum .forum-section .forum-topic--dropdown {
  padding-top: 20px;
}
.main-forum .forum-section .forum-topic_title {
  margin-right: 15px;
  margin-left: 38px;
  display: flex;
}
.main-forum .forum-section .forum-topic_title a {
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.main-forum .forum-section .forum-topic_title a:hover {
  text-decoration: underline;
  color: #1175c0;
}
.main-forum .forum-section .forum-topic_comments-count {
  margin-right: 16px;
  margin-left: 15px;
}
.main-forum .forum-section .forum-topic_comments-count span {
  padding: 1px 4px;
  background-color: red;
  border-radius: 7px;
  background-color: #9ea4ad;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 10px;
}
.main-forum .forum-section .forum-topic_rating {
  margin-right: 16px;
}
.main-forum .forum-section .forum-topic_rating span {
  color: #b64ad4;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}
.main-forum .forum-section .forum-topic_numbers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-forum .forum-section .forum-topic_icon-whatisthat {
  width: 9px;
  height: 11px;
  background-image: url('../img/admin-icon.svg');
}
.main-forum .forum-section .topic-author {
  display: flex;
  margin-left: 38px;
  margin-top: 2px;
}
.main-forum .forum-section .topic-author_time {
  margin-right: 12px;
}
.main-forum .forum-section .topic-author_time span {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  white-space: nowrap;
}
.main-forum .forum-section .topic-author_name span {
  position: relative;
  padding-left: 15px;
  margin-right: 7px;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.main-forum .forum-section .topic-author_name span::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  left: 1px;
  top: 1px;
  background-image: url('../img/topic_author_name.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
