@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.main-forum {
  margin-top: 32px;
}
.forum-section {
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  background-color: #fafbfc;
}
.forum-section_title {
  padding: 19px 28px;
  background-color: #beceda;
  box-shadow: 0 1px 0 #beceda;
  border-radius: 4px 4px 0 0;
  border-left: 4px solid #7bd2fe;
}
.forum-section_title h2 {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
}
.forum-section-content {
  padding: 24px 28px 1px;
}
.forum-section_item {
  margin-bottom: 22px;
}
.forum-section_item--inner .forum-subsection {
  margin-left: 30px;
}
.forum-section_item--inner .topic-count {
  margin-left: 60px;
}
.forum-section_item .forum-subsection {
  display: flex;
  align-items: baseline;
}
.forum-section_item .forum-subsection_icon {
  margin-right: 15px;
  min-width: 13px;
  height: 10px;
  background-image: url('../img/subsection-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.forum-section_item .forum-subsection_icon--lock {
  height: 16px;
  background-image: url('../img/lock.svg');
}
.forum-section_item .forum-subsection_icon--dropdown {
  min-width: 12px;
  height: 7px;
  background-image: url('../img/subsection-icon-small.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: default;
}
.forum-section_item .forum-subsection_title {
  margin-right: 16px;
}
.forum-section_item .forum-subsection_title a {
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.forum-section_item .forum-subsection_title a:hover {
  text-decoration: underline;
  color: #1175c0;
}
.forum-section_item .forum-subsection_title--no-topics a {
  color: rgba(25, 145, 235, 0.5);
}
.forum-section_item .forum-subsection_title--dropdown a {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.1px;
}
.forum-section_item .forum-subsection_title--grey a {
  color: #525c6c;
}
.forum-section_item .topic-count {
  margin-top: 3px;
  margin-left: 29px;
}
.forum-section_item .topic-count span {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.forum-section_item .topic-count--no-topics span {
  color: rgba(82, 92, 108, 0.5);
}
.forum-section_item .topic-count--dropdown {
  padding-left: 29px;
}
.forum-section .forum-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forum-section .forum-topic--dropdown {
  padding-top: 20px;
}
.forum-section .forum-topic_title {
  display: flex;
}
.forum-section .forum-topic_title a {
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.forum-section .forum-topic_title a:hover {
  text-decoration: underline;
  color: #1175c0;
}
.forum-section .forum-topic_comments-count {
  margin-right: 16px;
  margin-left: 15px;
}
.forum-section .forum-topic_comments-count span {
  padding: 1px 4px;
  background-color: red;
  border-radius: 7px;
  background-color: #9ea4ad;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 10px;
}
.forum-section .forum-topic_ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forum-section .forum-topic_rating {
  color: #b64ad4;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}
.forum-section .forum-topic_star {
  margin-left: 16px;
  width: 16px;
  height: 16px;
  position: relative;
}
.forum-section .forum-topic_star::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
  background-image: url('../img/star.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.forum-section .forum-topic_star--active::before {
  background-image: url('../img/star_active.svg');
}
.forum-section .forum-topic_numbers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.forum-section .forum-topic_icon-whatisthat {
  width: 9px;
  height: 11px;
  background-image: url('../img/admin-icon.svg');
}
.forum-section .topic-author {
  display: flex;
  margin-top: 2px;
}
.forum-section .topic-author_time {
  margin-right: 12px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  white-space: nowrap;
}
.forum-section .topic-author_name {
  position: relative;
  padding-left: 15px;
  margin-right: 7px;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.forum-section .topic-author_name::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  left: 1px;
  top: 1px;
  background-image: url('../img/user-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.forum-section .topic-author_name--admin::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  right: -15px;
  top: 1px;
  background-image: url('../img/admin-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
