@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.header {
  background-color: #fff;
}
.header .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header .main-nav .logo {
  margin-right: 64px;
}
.header .main-nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
}
.header .main-nav_menu {
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
}
.header .main-nav_item {
  width: 78px;
  margin-right: 38px;
}
.header .main-nav_item a {
  display: block;
  padding: 0 10px;
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-color: rgba(68, 175, 54, 0.25);
}
.header .main-nav_item a:hover {
  color: rgba(69, 175, 55, 0.85);
  text-decoration-color: rgba(68, 175, 54, 0.85);
}
.header .main-nav_faq {
  display: block;
}
.header .main-nav_faq-item a {
  padding: 0 10px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-decoration-color: rgba(143, 150, 161, 0.25);
}
.header .main-nav_faq-item a:hover {
  color: rgba(82, 92, 108, 0.85);
  text-decoration-color: rgba(143, 150, 161, 0.85);
}
.header .main-nav_user-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .main-nav_user-menu--hidden {
  display: none;
}
.header .main-nav_user-search {
  position: relative;
}
.header .main-nav_user-search form::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  right: 12px;
  top: 7px;
  background-image: url('../img/search-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.header .main-nav_user-search input {
  padding: 8px 40px 8px 15px;
  max-width: 180px;
  color: #333f52;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.header .main-nav_user-language {
  position: relative;
  margin-left: 28px;
}
.header .main-nav_user-language .language {
  position: absolute;
  top: -10px;
}
.header .main-nav_user-login {
  margin-left: 64px;
}
.header .main-nav .user {
  margin-bottom: 0;
}
.header .main-nav .user_icon {
  margin-left: 10px;
  margin-right: 0;
}
.header .main-nav .user_username-container {
  margin-left: 60px;
}
.header .main-nav .user_name {
  margin-bottom: 2px;
  white-space: nowrap;
}
.header .main-nav .user_notification {
  display: flex;
  justify-content: flex-end;
}
.header .main-nav .user_notification-bell {
  margin-left: 20px;
  position: relative;
  width: 16px;
  height: 16px;
}
.header .main-nav .user_notification-bell::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0px;
  top: 1px;
  background-image: url('../img/bell.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.header .main-nav .user_notification-message {
  position: relative;
  width: 16px;
  height: 16px;
}
.header .main-nav .user_notification-message::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0px;
  top: 2px;
  background-image: url('../img/message-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.header .main-nav .user_notification-num {
  align-self: center;
  margin-left: 6px;
  padding: 2px 4px 1px 4px;
  border-radius: 8px;
  background-color: #ff3657;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  color: #fff;
}
.header_bottom-line {
  background-color: #525c6c;
  padding: 20px 0;
}
.header_bottom-line .searching-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_bottom-line .searching-form h2 {
  margin-right: 100px;
}
.header_bottom-line .searching-form form {
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex-grow: 2;
}
.header_bottom-line .searching-form form input {
  flex-grow: 2;
  border-radius: 4px 0 0 4px;
  background-color: #ffffff;
  padding: 12px 15px 10px;
  max-width: 460px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2);
  border: none;
}
.header_bottom-line-button .btn {
  padding: 13px 20px 11px 54px;
}
.header_bottom-line-button .btn::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 24px;
  top: 9px;
  background-image: url('../img/prymary-btn_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.header_slider {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-image: radial-gradient(72% 51%, #C86DD7 0%, #3023AE 89%);
}
.header_slider-collapse-icon {
  position: absolute;
  right: 0px;
  top: 24px;
}
.header_slider-collapse-icon span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 16px;
  background-image: url('../img/collapse.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
  cursor: pointer;
}
.header_slider-item {
  position: relative;
  height: 400px;
  background-image: url('../img/slider-image.png');
  background-position: 90% 50%;
  background-repeat: no-repeat;
}
.header_slider-title {
  width: 355px;
  padding-top: 68px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #fafbfc;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}
.header_slider-intro {
  width: 400px;
  padding-top: 25px;
  padding-bottom: 48px;
  font-family: 'Roboto', sans-serif;
  color: #fafbfc;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header_slider-button a {
  position: relative;
  padding: 20px 24px 12px 52px;
  background-image: radial-gradient(42% -82%, #3BB54F 87%, #268B87 100%);
  box-shadow: 0 0 36px #854dc5, 0 4px 0 #24827e;
  border-radius: 4px;
  text-shadow: 1px 1px 0 #268b86;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.17px;
}
.header_slider-button a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  left: 19px;
  top: 17px;
  background-image: url('../img/sigh-up.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.header_collapse {
  background-image: radial-gradient(27% -160%, #3BB54F 100%, #268B87 100%);
}
.header_collapse h2 {
  color: #fafbfc;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
.header_collapse-wrapper {
  padding: 12px 0;
  display: flex;
  align-items: center;
}
.header_collapse-button {
  margin-left: auto;
  margin-right: 58px;
}
.header_collapse-button a {
  position: relative;
  padding: 11px 16px 9px 44px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.15px;
}
.header_collapse-button a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  left: 14px;
  top: 7px;
  background-image: url('../img/sigh-up.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.header_collapse-icon {
  position: absolute;
  margin-left: 46px;
  right: 15px;
  top: 24px;
}
.header_collapse-icon span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 16px;
  background-image: url('../img/collapse.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
  cursor: pointer;
}
.header .cabinet-nav {
  background-color: #525c6c;
}
.header .cabinet-nav_menu {
  display: flex;
}
.header .cabinet-nav_item a {
  position: relative;
  display: block;
  padding: 18px 20px 18px 52px;
  color: #fafbfc;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.25s;
}
.header .cabinet-nav_item a:hover {
  background-color: #eff3f6;
  color: #525c6c;
}
.header .cabinet-nav_item a::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 16px;
  width: 28px;
  height: 25px;
  background-image: url('../img/cabinet-nav-sprite.svg');
  background-repeat: no-repeat;
}
.header .cabinet-nav_item--calendar a::before {
  background-position: 3% 5%;
}
.header .cabinet-nav_item--cases a::before {
  background-position: 3% 50%;
}
.header .cabinet-nav_item--investment a::before {
  background-position: 47% 5%;
}
.header .cabinet-nav_item--statistic a::before {
  background-position: 3% 93%;
}
.header .cabinet-nav_item--marked-ico a::before {
  background-position: 92% 8%;
}
.header .cabinet-nav_item:first-child a {
  padding: 18px 45px 18px 0;
  color: #c5d0de;
}
.header .cabinet-nav_item:first-child a:hover {
  background-color: #525c6c;
  color: #c5d0de;
}
.header .cabinet-nav_item--active a {
  display: block;
  padding: 18px 20px 18px 52px;
  background-color: #eff3f6;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none;
}
.header .catalogue-header {
  padding: 28px 0;
  background-color: #525c6c;
}
.header .catalogue-header h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.17px;
}
.header .catalogue-header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .catalogue-header_intro p {
  margin-right: 50px;
  max-width: 600px;
  color: #c5d0de;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.header .catalogue-header_links a {
  position: relative;
  margin-right: 28px;
  color: #7dc773;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}
.header .catalogue-header_links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 15px;
  background-color: rgba(125, 199, 115, 0.5);
}
.header .catalogue-header_links a:hover {
  text-decoration: none;
  color: rgba(125, 199, 115, 0.85);
}
.header .catalogue-header_links a:last-child {
  margin-right: 0;
}
