.project-overview {
  margin-top: 32px;
  margin-bottom: 44px;
}
.project-overview h1 {
  margin-bottom: 21px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.project-overview h2 {
  margin-bottom: 20px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.project-overview h3 {
  color: #333f52;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}
.project-overview p {
  margin-bottom: 30px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.project-overview p:first-child {
  font-size: 18px;
  line-height: 22px;
}
.project-overview_links h3 {
  margin-bottom: 20px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.project-overview_links li {
  margin-left: 28px;
  margin-bottom: 12px;
  list-style: disc;
  color: #1991eb;
}
.project-overview_links li a {
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
}
.sponsored-ico_sponsored {
  margin-top: 32px;
  margin-bottom: 12px;
}
.sponsored-ico_sponsored span {
  position: relative;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 9px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.sponsored-ico_sponsored span::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 3px;
  background-color: #fbc783;
  top: -4px;
  left: 0;
}
.sponsored-ico_item {
  border-radius: 4px;
  border: 1px solid #d64f00;
  background-color: #fafbfc;
}
.sponsored-ico_item-logo img {
  width: 100%;
}
.sponsored-ico_item-wrapper {
  padding: 13px 20px 22px;
}
.sponsored-ico_item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.sponsored-ico_item-title h3 {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.sponsored-ico_item-title span {
  padding: 3px 5px 2px;
  border-radius: 4px;
  border: 1px solid #cbd5e2;
  background-color: #ffffff;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}
.sponsored-ico_item p {
  margin-bottom: 12px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.sponsored-ico_item-buttons-details {
  position: relative;
  padding: 8px 12px 6px 28px;
  box-shadow: 0 2px 0 #3a962e;
  border-radius: 4px;
  background-color: #44af36;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.2px;
}
.sponsored-ico_item-buttons-details::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 8px;
  top: 7px;
  background-image: url('../img/white-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.latest-posts {
  padding: 25px 20px 1px 25px;
  margin-top: 30px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  background-color: #fafbfc;
  border-top: 4px solid #5bb0d5;
}
.latest-posts_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.latest-posts_title h3 {
  font-family: 'Roboto', sans-serif;
  color: #333f52;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.3px;
}
.latest-posts_topics {
  margin-bottom: 18px;
}
.latest-posts_topics .forum-topic {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.latest-posts_topics .forum-topic--dropdown {
  padding-top: 20px;
}
.latest-posts_topics .forum-topic_title {
  display: block;
  margin-right: 15px;
  margin-left: 0;
}
.latest-posts_topics .forum-topic_title a {
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}
.latest-posts_topics .forum-topic_title a:hover {
  text-decoration: underline;
  color: #1175c0;
}
.latest-posts_topics .forum-topic_comments-count {
  display: inline;
  margin-right: 6px;
  margin-left: 10px;
}
.latest-posts_topics .forum-topic_comments-count span {
  padding: 1px 4px;
  background-color: red;
  border-radius: 7px;
  background-color: #9ea4ad;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 10px;
}
.latest-posts_topics .forum-topic_rating {
  display: inline;
}
.latest-posts_topics .forum-topic_rating span {
  color: #b64ad4;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}
.latest-posts_topics .forum-topic_icon-whatisthat {
  width: 9px;
  height: 11px;
  background-image: url('../img/admin-icon.svg');
}
.latest-posts_topics .topic-author {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.latest-posts_topics .topic-author_time {
  margin-right: 12px;
}
.latest-posts_topics .topic-author_time span {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  white-space: nowrap;
}
.latest-posts_topics .topic-author_name {
  margin-right: 10px;
}
.latest-posts_topics .topic-author_name span {
  position: relative;
  padding-left: 15px;
  margin-right: 7px;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.latest-posts_topics .topic-author_name span::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  left: 1px;
  top: 1px;
  background-image: url('../img/user-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
