@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.ico-catalogue {
  margin-top: 39px;
}
.ico-catalogue_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.ico-catalogue_nav-wrapper {
  display: flex;
}
.ico-catalogue_nav-item a {
  display: inline-block;
  padding: 10px 27px 8px 27px;
  box-shadow: 0 2px 0 #c5d0de;
  background-color: #ffffff;
  border-right: 1px solid #c5d0de;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.ico-catalogue_nav-item a:hover {
  background-color: #e8edf2;
  text-decoration: none;
}
.ico-catalogue_nav-item a:active {
  box-shadow: 0 2px 0 #3e9532, inset 0 2px 4px rgba(1, 1, 1, 0.3);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 700;
  background-color: #44af36;
}
.ico-catalogue_nav-item:first-child a {
  border-radius: 4px 0 0 4px;
}
.ico-catalogue_nav-item:last-child a {
  border-radius: 0 4px 4px 0;
  border-right: none;
}
.ico-catalogue_nav-item--active a {
  box-shadow: 0 2px 0 #3e9532, inset 0 2px 4px rgba(1, 1, 1, 0.3);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 700;
  background-color: #44af36;
}
.ico-catalogue_nav-item--active a:hover {
  box-shadow: 0 2px 0 #3e9532, inset 0 2px 4px rgba(1, 1, 1, 0.3);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 700;
  background-color: #44af36;
}
.ico-catalogue_select {
  position: relative;
}
.ico-catalogue_select select {
  padding: 10px 32px 8px 12px;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  box-shadow: 0 1px 0 #c5d0de;
  border-radius: 0 4px 4px 0;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  outline: none;
}
.ico-catalogue_select::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 36px;
  box-shadow: 0 1px 0 #c5d0de;
  border-radius: 4px 0 0 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  left: -39px;
  top: 0px;
  background-image: url('../img/topic-select-icon.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.ico-catalogue_select::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  right: 16px;
  top: 17px;
  background-image: url('../img/select-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.ico-catalogue_ico-amount {
  margin-bottom: 7px;
}
.ico-catalogue_ico-amount span {
  margin-bottom: 7px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.ico-catalogue_tags-wrapper {
  margin-bottom: 24px;
}
.ico-catalogue_tag {
  display: inline-block;
  padding: 1px 9px 1px 6px;
  border-radius: 2px;
  border: 1px solid #44af36;
  background-color: #7cc772;
}
.ico-catalogue_tag-close {
  display: inline-block;
  font-size: 0px;
  width: 12px;
  height: 12px;
  background-image: url('../img/cross.svg');
  background-position: 2px 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.ico-catalogue_tag span {
  display: inline-block;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  line-height: 12px;
  font-weight: 500;
}
.ico-catalogue-item {
  margin-bottom: 20px;
  background-color: #fafbfc;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
}
.ico-catalogue-item_content-wrapper {
  display: flex;
}
.ico-catalogue-item_content-wrapper--sponsored {
  background-color: #e0e6ed;
}
.ico-catalogue-item_logo {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 152px;
  border-radius: 4px 0 0 0;
}
.ico-catalogue-item_logo img {
  margin: auto;
  padding: 10px;
}
.ico-catalogue-item_sponsored {
  position: absolute;
}
.ico-catalogue-item_discription {
  display: flex;
  flex-direction: column;
  padding: 12px 0 18px 0px;
  flex-grow: 1;
}
.ico-catalogue-item_title {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ico-catalogue-item_title h2 {
  color: #333f52;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.ico-catalogue-item_category {
  display: flex;
  margin-bottom: 5px;
}
.ico-catalogue-item_category span {
  margin-right: 3px;
  padding: 3px 5px 1px;
  border-radius: 4px;
  border: 1px solid #cbd5e2;
  background-color: #ffffff;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}
.ico-catalogue-item_discribe {
  margin-bottom: 8px;
}
.ico-catalogue-item_discribe p {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.ico-catalogue-item_platforms {
  margin-top: auto;
}
.ico-catalogue-item_platforms-pl {
  margin-right: 16px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.ico-catalogue-item_platforms-name {
  margin-right: 12px;
  color: #333f52;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.ico-catalogue-item_time-wrapper {
  margin-top: auto;
}
.ico-catalogue-item_totall-price-wrapper {
  margin-top: auto;
  padding-left: 14px;
}
.ico-catalogue-item_time,
.ico-catalogue-item_totall-price {
  width: 100%;
}
.ico-catalogue-item_time th,
.ico-catalogue-item_totall-price th {
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.ico-catalogue-item_time tr,
.ico-catalogue-item_totall-price tr {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.4px;
}
.ico-catalogue-item_roi-wrapper {
  padding: 20px 0 15px 14px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border-bottom: 2px solid #ced8e3;
}
.ico-catalogue-item_roi {
  width: 100%;
}
.ico-catalogue-item_roi th {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.ico-catalogue-item_roi th:last-child {
  text-align: center;
}
.ico-catalogue-item_roi td {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.ico-catalogue-item_roi td span {
  font-size: 12px;
}
.ico-catalogue-item_roi td:last-child {
  text-align: center;
  color: #45af37;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.4px;
}
.ico-catalogue-item_roi td:last-child span {
  position: relative;
}
.ico-catalogue-item_roi td:last-child span::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 8px;
  left: -22px;
  top: 1px;
  background-image: url('../img/triangle-green.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.ico-catalogue-item_roi--negative td:last-child {
  color: #ff3657;
}
.ico-catalogue-item_roi--negative td:last-child span {
  position: relative;
}
.ico-catalogue-item_roi--negative td:last-child span::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 8px;
  left: -22px;
  top: 1px;
  background-image: url('../img/triengle-red.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.ico-catalogue-item_fundraising {
  padding: 20px 0 18px 0px;
  display: flex;
  flex-direction: column;
}
.ico-catalogue-item_cap {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-bottom: 13px;
}
.ico-catalogue-item_cap-type {
  margin-bottom: 5px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.ico-catalogue-item_cap-goal {
  margin-bottom: 10px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: -0.4px;
}
.ico-catalogue-item_cap-goal sup {
  font-size: 14px;
  letter-spacing: -0.4px;
}
.ico-catalogue-item_cap-current {
  display: flex;
  justify-content: space-between;
}
.ico-catalogue-item_cap-current-usd {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}
.ico-catalogue-item_cap-current-usd--canceled {
  color: #ff3657;
}
.ico-catalogue-item_cap-current-usd--reached {
  color: #44af36;
}
.ico-catalogue-item_cap-current-usd sup {
  font-size: 10px;
}
.ico-catalogue-item_cap-current-percent {
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.ico-catalogue-item_scale {
  position: relative;
  margin-bottom: 10px;
  height: 6px;
  border-radius: 4px;
  border: 1px solid #ced8e3;
  background-color: #ffffff;
}
.ico-catalogue-item_scale::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 22px;
  left: 50px;
  top: -10px;
  background-image: url('../img/scale-drop.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.ico-catalogue-item_scale-inner {
  width: 21%;
  height: 4px;
  border-radius: 4px 0 0 4px;
}
.ico-catalogue-item_scale-inner--grey {
  background-color: #c5d0de;
}
.ico-catalogue-item_scale-inner--green {
  background-color: #44af36;
}
.ico-catalogue-item_scale-inner--red {
  background-color: #ff3657;
}
.ico-catalogue-item_status-wrapper {
  margin-top: auto;
  padding-left: 24px;
  max-width: 140px;
}
.ico-catalogue-item_status {
  position: relative;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  text-transform: uppercase;
}
.ico-catalogue-item_status::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  left: -22px;
  top: 2px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.ico-catalogue-item_status--canceled {
  color: #ff3657;
}
.ico-catalogue-item_status--canceled::before {
  background-image: url('../img/thumbs-down-red.svg');
}
.ico-catalogue-item_status--reached {
  color: #44af36;
}
.ico-catalogue-item_status--reached::before {
  height: 24px;
  background-image: url('../img/watch.svg');
}
.ico-catalogue-item_price {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.ico-catalogue-item_price-token {
  margin-bottom: 6px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.ico-catalogue-item_price-token-usd {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}
.ico-catalogue-item_trading {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 0 0 18px 14px;
}
.ico-catalogue-item_timeframe {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 20px 0 18px 0px;
}
.ico-catalogue-item_start,
.ico-catalogue-item_end {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 9px;
}
.ico-catalogue-item_start-st,
.ico-catalogue-item_end-st,
.ico-catalogue-item_start-en,
.ico-catalogue-item_end-en {
  margin-bottom: 7px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.ico-catalogue-item_start-date,
.ico-catalogue-item_end-date {
  margin-bottom: 6px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.4px;
}
.ico-catalogue-item_start-time-remain,
.ico-catalogue-item_end-time-remain,
.ico-catalogue-item_start-time-left,
.ico-catalogue-item_end-time-left {
  padding: 2px 4px 2px;
  border-radius: 2px;
  background-color: #c5d0de;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
}
.ico-catalogue-item_start-time-remain--soon,
.ico-catalogue-item_end-time-remain--soon {
  background-color: #ff3657;
}
.ico-catalogue-item_start-time-left--soon,
.ico-catalogue-item_end-time-left--soon {
  background-color: #ff3657;
}
.ico-catalogue-item_end {
  margin-bottom: 0;
  margin-top: auto;
}
.ico-catalogue-item_bottom-line {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
}
.ico-catalogue-item_links-wrapper {
  align-items: center;
  display: flex;
  padding: 16px 0;
}
.ico-catalogue-item_links-wrapper a {
  margin-left: 30px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.13px;
  white-space: nowrap;
}
.ico-catalogue-item_links-wrapper a:first-child {
  margin-left: 20px;
}
.ico-catalogue-item_links-wrapper sup {
  top: -7px;
  margin-left: 4px;
  padding: 2px 5px 2px 4px;
  border-radius: 8px;
  background-color: #5bb0d5;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 9px;
}
.ico-catalogue-item_links-wrapper .to-discuss {
  padding-left: 24px;
  color: #525c6c;
}
.ico-catalogue-item_links-wrapper .to-discuss:hover {
  color: rgba(82, 92, 108, 0.85);
}
.ico-catalogue-item_links-wrapper .to-discuss:hover::before {
  opacity: 1;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .to-discuss::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  left: 0px;
  top: -1px;
  background-image: url('../img/discuss-icon-hover.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
  opacity: 0.5;
}
.ico-catalogue-item_links-wrapper .to-rate {
  padding-left: 24px;
  color: #525c6c;
}
.ico-catalogue-item_links-wrapper .to-rate:hover {
  color: rgba(82, 92, 108, 0.85);
}
.ico-catalogue-item_links-wrapper .to-rate:hover::before {
  opacity: 1;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .to-rate::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  left: 0px;
  top: -2px;
  background-image: url('../img/to-rate-icon-hover.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .to-rate--active {
  color: #44af36;
}
.ico-catalogue-item_links-wrapper .to-rate--active:hover {
  text-decoration: underline;
  color: #44af36;
}
.ico-catalogue-item_links-wrapper .to-rate--active:hover::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0px;
  top: -1px;
  background-image: url('../img/green-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .to-rate--active::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0px;
  top: -1px;
  background-image: url('../img/green-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .add-calendar {
  padding-left: 24px;
  color: #525c6c;
}
.ico-catalogue-item_links-wrapper .add-calendar:hover {
  color: rgba(82, 92, 108, 0.85);
}
.ico-catalogue-item_links-wrapper .add-calendar:hover::before {
  opacity: 1;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .add-calendar::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  left: 0px;
  top: -2px;
  background-image: url('../img/calendar-small.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .add-calendar--active {
  color: #44af36;
}
.ico-catalogue-item_links-wrapper .add-calendar--active:hover {
  color: rgba(69, 175, 55, 0.85);
}
.ico-catalogue-item_links-wrapper .add-calendar--active::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0px;
  top: -2px;
  background-image: url('../img/green-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .add-portfolio {
  padding-left: 24px;
  margin-right: 15px;
  color: #525c6c;
}
.ico-catalogue-item_links-wrapper .add-portfolio:hover {
  color: rgba(82, 92, 108, 0.85);
}
.ico-catalogue-item_links-wrapper .add-portfolio:hover::before {
  opacity: 1;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .add-portfolio::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  left: 0px;
  top: -2px;
  background-image: url('../img/add-to-portfolio.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .buy-sell {
  padding-left: 24px;
  margin-right: 15px;
  color: #525c6c;
}
.ico-catalogue-item_links-wrapper .buy-sell:hover {
  color: rgba(82, 92, 108, 0.85);
}
.ico-catalogue-item_links-wrapper .buy-sell:hover::before {
  opacity: 1;
  z-index: 11;
}
.ico-catalogue-item_links-wrapper .buy-sell::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  left: 0px;
  top: -2px;
  background-image: url('../img/wallet-blue.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 11;
}
.ico-catalogue-item .btn-details {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 0 0 4px;
  padding: 18px 0px 13px 18px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.ico-catalogue-item .btn-details span {
  position: relative;
}
.ico-catalogue-item .btn-details span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -21px;
  top: -2px;
  background-image: url('../img/white-check-big.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.ico-choosing-form {
  margin-top: 28px;
  margin-bottom: 32px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
}
.ico-choosing-form .form-group {
  position: relative;
  padding: 0 24px;
  border-bottom: 1px solid #e0e6ed;
}
.ico-choosing-form .form-group legend {
  padding-top: 18px;
  padding-bottom: 15px;
  color: #333f52;
  font-family: 'Roboto Condenced', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.ico-choosing-form .form-group .dropdown::before {
  right: 5px;
  top: 23px;
}
.ico-choosing-form .form-group .choosing-form_list--inner {
  padding-left: 25px;
}
.ico-choosing-form .form-group .choosing-form_list-show-more {
  margin-bottom: 10px;
}
.ico-choosing-form .form-group .choosing-form_list-show-more a {
  color: #5cb0d5;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.ico-choosing-form .form-group .choosing-form_list-show-more a:hover {
  color: rgba(92, 176, 213, 0.85);
}
.ico-choosing-form .form-group .choosing-form_list li:last-child {
  margin-bottom: 15px;
}
.ico-choosing-form .form-group .choosing-form_list li sup {
  margin-left: 5px;
  color: #9096a0;
  font-size: 10px;
  letter-spacing: -0.1px;
}
.ico-choosing-form .form-group .choosing-form_search-category {
  margin-bottom: 18px;
}
.ico-choosing-form .form-group .choosing-form_search-category input {
  width: 100%;
  margin-right: 5px;
  padding: 11px 8px 9px 12px;
  border-radius: 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
}
.ico-choosing-form .form-group .choosing-form_hard-cap {
  display: flex;
  margin-bottom: 20px;
}
.ico-choosing-form .form-group .choosing-form_hard-cap input[type="text"] {
  width: 50%;
  margin-right: 5px;
  padding: 11px 8px 9px 8px;
  border-radius: 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
}
.ico-choosing-form .form-group .choosing-form_hard-cap input[type="text"]:last-child {
  margin-right: 0;
}
.ico-choosing-form .form-group .choosing-form_date {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}
.ico-choosing-form .form-group .choosing-form_date-icon {
  position: absolute;
  top: 12px;
  right: 28px;
  cursor: pointer;
  z-index: 1;
}
.ico-choosing-form .form-group .choosing-form_date-icon::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  background-image: url('../img/calendar-input-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.ico-choosing-form .form-group .choosing-form_date-reset {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 12px;
  right: 11px;
  border-radius: 16px;
  background-color: #c5d0de;
  cursor: pointer;
  z-index: 1;
}
.ico-choosing-form .form-group .choosing-form_date-reset:hover {
  background-color: #849bb9;
}
.ico-choosing-form .form-group .choosing-form_date-reset:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #fff;
  top: 6px;
  left: 3px;
  transform: rotate(45deg);
}
.ico-choosing-form .form-group .choosing-form_date-reset:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #fff;
  top: 6px;
  left: 3px;
  transform: rotate(-45deg);
}
.ico-choosing-form .form-group .choosing-form_date input[type="text"] {
  width: 65%;
  padding: 11px 8px 9px 12px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
}
.ico-choosing-form .form-group .choosing-form_date select {
  padding: 11px 8px 9px 13px;
  margin-right: -1px;
  width: 35%;
  border-radius: 4px 0 0 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.07px;
}
.ico-choosing-form .form-group .choosing-form_scale {
  margin-bottom: 20px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #c5d0de;
}
.ico-choosing-form .form-group .choosing-form_scale-inner {
  width: 33%;
  height: 4px;
  background-color: #45af37;
}
