@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.ico-team h2 {
  margin: 32px 0;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.ico-team h3 {
  position: relative;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
.ico-team h3::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #f9a83e;
  top: 20px;
  left: 0;
}
.ico-team_item {
  margin-bottom: 44px;
}
.ico-team_item-photo {
  background-color: #fafbfc;
}
.ico-team_item-photo img {
  width: 100%;
}
.ico-team_item-content {
  padding: 18px 20px 30px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 0 0 4px 4px;
  background-color: #fafbfc;
}
.ico-team_item-name {
  margin-bottom: 4px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.07px;
}
.ico-team_item-position {
  margin-bottom: 12px;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.ico-team_item-social {
  display: flex;
  align-items: center;
}
.ico-team_item-social a {
  position: relative;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
}
.ico-team_item-social a::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 1px;
  top: 1px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.ico-team_item-social-fb {
  background-color: #345c94;
}
.ico-team_item-social-fb::before {
  background-image: url('../img/f-icon.svg');
}
.ico-team_item-social-tw {
  background-color: #00b0e9;
}
.ico-team_item-social-tw::before {
  background-image: url('../img/tw-icon.svg');
}
.ico-team_item-social-g {
  background-color: #e34346;
}
.ico-team_item-social-g::before {
  background-image: url('../img/G+-icon.svg');
}
.ico-team_item-social span {
  margin-left: auto;
  padding: 3px 6px 2px;
  border-radius: 2px;
  border: 1px solid #707986;
  background-color: #ffffff;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
}
.related-ico {
  padding-bottom: 50px;
  background-color: #e0e6ed;
}
.related-ico .rating {
  position: absolute;
  top: 12px;
  right: 0;
}
.related-ico .rating::before {
  content: "";
  position: absolute;
  left: -6px;
  border: 6px solid transparent;
  border-top-width: 14px;
  border-bottom-width: 14px;
  border-top-color: #f7981b;
  border-bottom-color: #f7981b;
  border-left-width: 0;
  transform: rotate(180deg);
}
.related-ico .rating span {
  margin: auto;
  padding: 6px 6px 4px 11px;
  white-space: nowrap;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "RobotoBold";
  font-size: 18px;
  line-height: 16px;
}
.related-ico .rating span sup {
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: "RobotoMedium";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.related-ico_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 22px;
}
.related-ico_title h3 {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.related-ico_title a {
  padding: 10px 16px 7px;
  box-shadow: 0 2px 0 #3b962f;
  border-radius: 4px;
  background-color: #44af36;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.15px;
}
.related-ico_item-logo {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
}
.related-ico_item-logo img {
  margin: auto;
}
.related-ico_item-content {
  position: relative;
  padding: 16px 20px 22px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
}
.related-ico_item-title {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.related-ico_item-title-name {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.related-ico_item-category {
  margin-bottom: 4px;
}
.related-ico_item-category span {
  padding: 3px 5px 2px;
  border-radius: 4px;
  border: 1px solid #cbd5e2;
  background-color: #ffffff;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}
.related-ico_item-discription {
  margin-bottom: 12px;
}
.related-ico_item-discription p {
  height: 48px;
  overflow: hidden;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.related-ico_item-button a {
  padding: 8px 10px 7px 28px;
  box-shadow: 0 2px 0 #3b962f;
  border-radius: 4px;
  background-color: #45af37;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.2px;
}
.related-ico_item-button a::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 7px;
  top: 3px;
  background-image: url('../img/white-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
