@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.topic {
  margin-top: 32px;
  padding: 0 28px 42px 28px;
  box-shadow: 0 10px 30px rgba(82, 92, 108, 0.15);
  background-color: #ffffff;
}
.topic_top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.topic_top-line .user {
  justify-content: flex-start;
  margin-bottom: 0;
  padding-top: 20px;
}
.topic_top-line .user_block {
  margin-right: 8px;
}
.topic_top-line .user_block .user_icon {
  margin-right: 12px;
}
.topic_top-line .user_block .user_name {
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: -0.07px;
}
.topic_top-line .user_block .user_name .user_rating {
  margin-left: 5px;
  font-size: 10px;
  font-weight: 500;
  color: #44af36;
  font-family: 'Roboto', sans-serif;
}
.topic_top-line .user_block .user_rank {
  padding: 2px 4px;
}
.topic_topic-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.topic_topic-info .topic-statistic {
  display: flex;
  margin-left: 58px;
}
.topic_topic-info .topic-statistic_time {
  margin-right: 27px;
}
.topic_topic-info .topic-statistic_time span {
  position: relative;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  white-space: nowrap;
}
.topic_topic-info .topic-statistic_time span::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #959ca7;
  top: 5px;
  left: 95px;
}
.topic_topic-info .topic-statistic_veiws {
  margin-right: 24px;
}
.topic_topic-info .topic-statistic_veiws span {
  margin-right: 7px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 14px;
  font-size: 14px;
}
.topic_topic-info .topic-statistic_comments {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.topic_topic-info .topic-statistic_comments span {
  margin-left: 5px;
  background-color: #9ea4ad;
  position: relative;
  padding: 3px 6px 1px 5px;
  border-radius: 8px;
  font-size: 11px;
  font-weight: 700;
  line-height: 10px;
  color: #fff;
}
.topic_topic-info .topic-statistic_comments span::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 6px;
  right: 50%;
  margin-right: -4px;
  top: 15px;
  background-image: url('../img/tail.svg');
  background-repeat: no-repeat;
}
.topic_topic-info .topic-statistic .readers {
  margin-right: 24px;
}
.topic_topic-info .topic-rating {
  display: flex;
  align-items: center;
}
.topic_topic-info .topic-rating_count {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  white-space: nowrap;
}
.topic_topic-info .topic-rating_count span {
  margin-left: 5px;
  color: #b64ad4;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}
.topic_topic-info .topic-rating_add-rating {
  margin-left: 12px;
}
.topic_topic-info .topic-rating_add-rating span {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #b54ad3;
  font-size: 14px;
  font-weight: 900;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
}
.topic_topic-info .topic-rating_add-rating--nocolor a {
  color: #b54ad3;
  border: 1px solid #b54ad3;
  background-color: inherit;
  line-height: 24px;
}
.topic_topic-info .topic-rating_add-favourite {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.topic_topic-info .topic-rating_add-favourite span {
  margin-left: 8px;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.topic_topic-info .topic-rating_icon-star {
  margin-left: 24px;
  width: 24px;
  height: 24px;
  position: relative;
  background-image: url('../img/star.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.topic_topic-info .topic-rating_icon-star--active {
  background-image: url('../img/star_active.svg');
}
.topic_content {
  padding-left: 60px;
}
.topic_content h1 {
  margin-bottom: 15px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.topic_content h2 {
  margin-bottom: 10px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.topic_content p {
  margin-bottom: 15px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.topic_content p a {
  color: #1991eb;
  font-weight: 500;
  text-decoration: underline;
}
.topic_content p a:hover {
  color: rgba(25, 145, 235, 0.85);
}
.topic_content-image {
  padding: 32px 0;
}
.topic_content-image img {
  width: 100%;
}
