/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.portfolio-view {
  margin-top: 32px;
}
.portfolio-view_filter {
  display: flex;
}
.portfolio-view_filter label {
  text-align: center;
}
.portfolio-view_filter label:first-child b {
  border-radius: 2px 0 0 2px;
}
.portfolio-view_filter label:last-child b {
  border-radius: 0 2px 2px 0;
}
.portfolio-view_filter label input[type=checkbox] {
  display: none;
  position: relative;
  top: 2px;
}
.portfolio-view_filter label b {
  display: block;
  padding: 12px 12px 11px;
  margin-left: -1px;
  color: #525c6c;
  background-color: #fff;
  border: 1px solid #c5d0de;
  font-family: "RobotoMedium";
  font-size: 11px;
  line-height: 12px;
}
.portfolio-view_public {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-left: 28px;
}
.portfolio-view_public a {
  position: relative;
  color: #333f52;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 18px;
}
.portfolio-view_public a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  left: -30px;
  top: -1px;
  background-image: url('../img/www.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.portfolio-view_toggle {
  margin-left: auto;
}
.portfolio-nav {
  display: flex;
  align-items: center;
  padding: 18px 0 6px;
}
.portfolio-nav_menu {
  display: flex;
  border-bottom: 1px solid #c5d0de;
}
.portfolio-nav_menu-item {
  margin-right: 48px;
}
.portfolio-nav_menu-item:last-child {
  margin-right: 22px;
}
.portfolio-nav_menu-item a {
  display: inline-block;
  padding: 14px 0;
  color: #707986;
  font-family: "RobotoRegular";
  font-size: 20px;
  line-height: 18px;
}
.portfolio-nav_menu-item--active {
  position: relative;
}
.portfolio-nav_menu-item--active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #44af36;
  top: 46px;
  left: 0;
}
.portfolio-nav_menu-item--active a {
  color: #333f52;
  font-family: "RobotoMedium";
}
.portfolio-nav_menu-item--private a {
  position: relative;
}
.portfolio-nav_menu-item--private a::before {
  content: '';
  position: absolute;
  top: 18px;
  left: -14px;
  width: 7px;
  height: 10px;
  background-image: url('../img/lock-small.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 11;
}
.portfolio-nav_add-portfolio a {
  padding-left: 26px;
  position: relative;
  color: #45af37;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 12px;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.portfolio-nav_add-portfolio a::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 14px;
  height: 14px;
  background-image: url('../img/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 11;
}
.portfolio-nav_button {
  margin-left: auto;
}
.portfolio-nav_button a {
  position: relative;
  padding: 11px 11px 11px 32px;
  background-image: linear-gradient(180deg, #358c29 0%, #45af36 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-family: "RobotoMedium";
  line-height: 11px;
  letter-spacing: -0.22px;
}
.portfolio-nav_button a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 10px;
  top: 11px;
  background-image: url('../img/coin.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.portfolio {
  margin-top: 32px;
  margin-bottom: 32px;
}
.portfolio_bottom-line {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.portfolio_changes {
  margin-left: auto;
}
.portfolio_changes a {
  position: relative;
  color: #1991eb;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline;
}
.portfolio_changes a:hover {
  text-decoration: none;
}
.portfolio_changes a::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 12px;
  left: -30px;
  top: 4px;
  background-image: url('../img/graph.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.portfolio .portfolio_cost {
  display: flex;
  flex-direction: column;
}
.portfolio .portfolio_cost-price {
  margin-bottom: 9px;
  color: #707986;
  font-family: "RobotoMedium";
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.3px;
}
.portfolio .portfolio_cost-usd {
  margin-bottom: 4px;
  color: #333f52;
  font-family: "RobotoBold";
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.5px;
}
.portfolio .portfolio_cost-btc {
  opacity: 0.6;
  color: #525c6c;
  font-family: "RobotoMedium";
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
}
.portfolio_deviation {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.portfolio_deviation-24hours {
  margin-bottom: 9px;
  color: #707986;
  font-family: "RobotoMedium";
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.3px;
}
.portfolio_deviation-percent {
  position: relative;
  padding-left: 15px;
  margin-bottom: 4px;
  color: #44af36;
  font-family: "RobotoRegular";
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.5px;
}
.portfolio_deviation-percent::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  left: -5px;
  top: 6px;
  background-image: url('../img/triangle-green.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.portfolio_deviation-percent sup {
  font-size: 16px;
  letter-spacing: -0.5px;
}
.portfolio_deviation-usd {
  opacity: 0.6;
  color: #525c6c;
  font-family: "RobotoMedium";
  font-size: 11px;
  line-height: 11px;
}
.portfolio_button {
  margin-left: auto;
}
.portfolio_button--bottom {
  margin-top: 30px;
  text-align: right;
}
.portfolio_button .btn {
  position: relative;
  padding: 11px 11px 11px 32px;
  background-image: linear-gradient(180deg, #358c29 0%, #45af36 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "RobotoMedium";
  font-size: 13px;
  line-height: 11px;
  letter-spacing: -0.22px;
}
.portfolio_button .btn::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 10px;
  top: 11px;
  background-image: url('../img/dollar.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.portfolio_list {
  margin-top: 26px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
}
.portfolio_list-head {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: #e0e6ed;
  border-bottom: 2px solid #c5d0de;
}
.portfolio_list-head-item {
  display: table-cell;
  padding: 17px 12px;
  border-right: 1px solid #e9ecee;
}
.portfolio_list-head-item span {
  color: #525c6c;
  font-family: "RobotoRegular";
  font-size: 13px;
  line-height: 13px;
}
.portfolio_list-head-item--name {
  width: 20%;
}
.portfolio_list-head-item--amount {
  width: 20%;
}
.portfolio_list-head-item--percent {
  width: 6%;
}
.portfolio_list-head-item--price {
  width: 12%;
}
.portfolio_list-head-item--24hour {
  width: 10%;
}
.portfolio_list-head-item--capitalizations {
  width: 13%;
}
.portfolio_list-head-item--volume {
  width: 19%;
}
.portfolio_item {
  display: table;
  width: 100%;
  table-layout: fixed;
  position: relative;
  background-color: #fafbfc;
}
.portfolio_item--active {
  border-top: 1px solid #e9ecee;
  background-color: #fff;
}
.portfolio_item-logo {
  display: inline-block;
  margin-right: 8px;
}
.portfolio_item-name {
  width: 20%;
  position: relative;
  display: table-cell;
  padding: 0px 10px 0 24px;
  border-right: 1px solid #e9ecee;
}
.portfolio_item-name span {
  color: #333f52;
  font-family: "RobotoMedium";
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.2px;
}
.portfolio_item-name b {
  font-family: "RobotoMedium";
  color: #8f96a1;
  letter-spacing: -0.2px;
}
.portfolio_item-name::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 97%;
  left: 0px;
  top: 0px;
  z-index: 11;
}
.portfolio_item-name--bts::before {
  background-color: #8f5bc0;
}
.portfolio_item-name--MON::before {
  background-color: #c28f58;
}
.portfolio_item-name--OPA::before {
  background-color: #429db0;
}
.portfolio_item-name--EOS::before {
  background-color: #ffa635;
}
.portfolio_item-name--XMR::before {
  background-color: #6982fc;
}
.portfolio_item-name--DASH::before {
  background-color: #ff6d71;
}
.portfolio_item-name--NEO::before {
  background-color: #bcbdbc;
}
.portfolio_item-name--ETH::before {
  background-color: #85b222;
}
.portfolio_item-amount {
  width: 20%;
  display: table-cell;
  padding: 12px 12px 20px;
  border-right: 1px solid #e9ecee;
}
.portfolio_item-amount-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio_item-amount span {
  color: #333f52;
  font-family: "RobotoMedium";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.portfolio_item-amount b {
  font-family: "RobotoMedium";
  font-size: 12px;
}
.portfolio_item-edit {
  width: 12px;
  height: 12px;
  background-image: url('../img/edit.svg');
}
.portfolio_item-percent {
  width: 6%;
  display: table-cell;
  text-align: center;
  padding: 12px 12px 20px;
  border-right: 1px solid #e9ecee;
}
.portfolio_item-percent span {
  color: #333f52;
  font-family: "RobotoMedium";
  font-size: 16px;
  line-height: 16px;
}
.portfolio_item-price {
  width: 12%;
  display: table-cell;
  padding: 12px 12px 3px;
}
.portfolio_item-price-usd {
  display: block;
  white-space: nowrap;
  color: #333f52;
  font-family: "RobotoMedium";
  font-size: 16px;
  line-height: 16px;
}
.portfolio_item-price-bts {
  opacity: 0.6;
  color: #8f96a1;
  font-family: "RobotoMedium";
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
}
.portfolio_item-24hour {
  width: 10%;
  display: table-cell;
  text-align: center;
  padding: 12px 12px 20px;
  border-right: 1px solid #e9ecee;
  border-left: 1px solid #e9ecee;
}
.portfolio_item-24hour b {
  padding: 3px 6px 2px;
  color: #8f96a1;
  border-radius: 9px;
  border: 1px solid #8f96a1;
  font-family: "RobotoBold";
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
}
.portfolio_item-24hour span {
  position: relative;
  margin: auto;
  padding-left: 10px;
  color: #707986;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 16px;
}
.portfolio_item-24hour span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  left: -14px;
  top: 0px;
  background-image: url('../img/triangle-green.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.portfolio_item-24hour--negative span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  left: -14px;
  top: 0px;
  background-image: url('../img/triengle-red.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.portfolio_item-capitalizations {
  width: 13%;
  display: table-cell;
  padding: 12px 12px 20px;
  border-right: 1px solid #e9ecee;
}
.portfolio_item-capitalizations span {
  color: #707986;
  font-family: "RobotoMedium";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.portfolio_item-capitalizations b {
  font-size: 12px;
}
.portfolio_item-volume {
  width: 19%;
  display: table-cell;
  padding: 12px 17px 20px 12px;
}
.portfolio_item-volume-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio_item-volume span {
  color: #707986;
  font-family: "RobotoMedium";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.portfolio_item-volume b {
  font-size: 12px;
}
.portfolio_item-volume a {
  width: 12px;
  height: 12px;
  background-image: url('../img/dropdown-portfolio.svg');
}
.portfolio_form {
  position: relative;
  padding: 20px 20px 5px;
  border-top: 4px solid #44af36;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(82, 92, 108, 0.15);
}
.portfolio_form-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  z-index: 30000;
}
.portfolio_form-close::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  top: 6px;
  left: 1px;
  background-color: #707986;
  transform: rotate(45deg);
}
.portfolio_form-close::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  top: 6px;
  left: 1px;
  background-color: #707986;
  transform: rotate(-45deg);
}
.portfolio_form h3 {
  margin-bottom: 16px;
  color: #525c6c;
  font-family: "RobotoBold";
  font-size: 16px;
  line-height: 24px;
}
.portfolio_form .add-coin-form {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.portfolio_form .add-coin-form--hidden {
  display: none;
}
.portfolio_form .add-coin-form label {
  color: #333f52;
  font-family: "RobotoRegular";
  font-size: 14px;
  line-height: 16px;
}
.portfolio_form .add-coin-form_wrapper {
  display: flex;
  margin-bottom: 20px;
  width: 76%;
}
.portfolio_form .add-coin-form_buttons {
  display: flex;
  align-items: center;
  margin-top: -15px;
  margin-left: 30px;
}
.portfolio_form .add-coin-form_buttons button {
  padding: 12px 16px 10px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #44af36;
  color: #ffffff;
  font-family: "RobotoMedium";
  font-size: 14px;
  line-height: 14px;
}
.portfolio_form .add-coin-form_name {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  flex-grow: 1;
}
.portfolio_form .add-coin-form_name::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  right: 18px;
  top: 41px;
  background-image: url('../img/select-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.portfolio_form .add-coin-form_name select {
  max-width: 264px;
  padding: 10px 32px 8px 12px;
  color: #525c6c;
  font-family: "RobotoRegular";
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  border: 1px solid #44af36;
  background-color: #ffffff;
}
.portfolio_form .add-coin-form_amount {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.portfolio_form .add-coin-form_amount input {
  padding: 12px;
  width: 104px;
  height: 36px;
  font-size: 15px;
  font-family: "RobotoRegular";
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
}
.portfolio_form .add-coin-form_price {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.portfolio_form .add-coin-form_price::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  right: 18px;
  top: 41px;
  background-image: url('../img/select-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.portfolio_form .add-coin-form_price-input-wrapper {
  display: flex;
}
.portfolio_form .add-coin-form_price-ico {
  margin-right: 16px;
  color: #1991eb;
  font-family: "RobotoBold";
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.portfolio_form .add-coin-form_price-market {
  color: #8f96a1;
  font-family: "RobotoBold";
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
}
.portfolio_form .add-coin-form_price input {
  padding: 12px;
  width: 154px;
  height: 36px;
  font-size: 15px;
  font-family: "RobotoRegular";
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 4px 0 0 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
}
.portfolio_form .add-coin-form_price select {
  margin-left: -1px;
  padding: 10px 32px 8px 12px;
  color: #525c6c;
  font-family: "RobotoRegular";
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  border-radius: 0 4px 4px 0;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
}
.portfolio_form .add-coin-form_total {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.portfolio_form .add-coin-form_total span {
  color: #333f52;
  font-family: "RobotoMedium";
  font-size: 16px;
  line-height: 37px;
  white-space: nowrap;
}
.portfolio_form .add-coin-form_total span b {
  font-size: 12px;
}
.portfolio_history {
  padding: 20px 24px;
  margin-top: 40px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  background-color: #fafbfc;
  border-top: 4px solid #c5d0de;
}
.portfolio_history h3 {
  margin-bottom: 20px;
  color: #707986;
  font-size: 14px;
  font-family: "RobotoBold";
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
.portfolio_history .history_item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  margin-right: 15px;
}
.portfolio_history .history_item::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.portfolio_history .history_item--sold .history_item-amount {
  color: #ff3657;
}
.portfolio_history .history_item--sold::before {
  background-image: url('../img/deleted.svg');
}
.portfolio_history .history_item--bought .history_item-amount {
  color: #44af36;
}
.portfolio_history .history_item--bought::before {
  background-image: url('../img/added.svg');
}
.portfolio_history .history_item-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.portfolio_history .history_item-name {
  color: #525c6c;
  font-family: "RobotoMedium";
  font-size: 14px;
  line-height: 16px;
}
.portfolio_history .history_item-amount {
  display: flex;
  align-items: center;
  color: #333f52;
  font-family: "RobotoMedium";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.portfolio_history .history_item-amount-usd {
  margin-left: 6px;
  color: #8f96a1;
  font-family: "RobotoMedium";
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.15px;
}
.portfolio_history .history_item-time {
  color: #707986;
  font-family: "RobotoRegular";
  font-size: 12px;
  line-height: 16px;
}
.portfolio_history .history_item-restore {
  color: #1991eb;
  font-family: "RobotoRegular";
  font-size: 12px;
  line-height: 12px;
  text-decoration: underline;
}
table {
  width: 100%;
  table-layout: fixed;
}
table .tbody {
  position: relative;
  background-color: #fff;
}
table .tbody::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: linear-gradient(180deg, #e0e6ed 0%, rgba(224, 230, 237, 0) 100%);
}
table .tbody::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0px;
  top: 1px;
  z-index: 11;
}
table .tbody--bts::after {
  background-color: #8f5bc0;
}
table .tbody--MON::after {
  background-color: #c28f58;
}
table .tbody--OPA::after {
  background-color: #429db0;
}
table .tbody--EOS::after {
  background-color: #ffa635;
}
table .tbody--XMR::after {
  background-color: #6982fc;
}
table .tbody--DASH::after {
  background-color: #ff6d71;
}
table .tbody--NEO::after {
  background-color: #bcbdbc;
}
table .tbody--ETH::after {
  background-color: #85b222;
}
table .tbody tr:first-child {
  border-bottom: 1px solid #e9ecee;
}
table .tbody tr:first-child td {
  padding: 30px 12px 9px 12px;
  border-right: 1px solid #e9ecee;
}
table .tbody tr:first-child td span {
  color: #525c6c;
  font-family: "RobotoRegular";
  font-size: 13px;
  line-height: 12px;
}
table .tbody tr:first-child td:first-child {
  padding: 30px 12px 9px 58px;
}
table .tbody tr:first-child td:nth-last-child(2) {
  border-right: 1px solid #e9ecee;
}
table .tbody tr:first-child td:last-child {
  text-align: left;
  border-right: none;
}
table .tbody tr:last-child td:first-child {
  padding: 0px 12px 30px 28px;
  text-align: right;
}
table .tbody tr td {
  padding: 15px 24px 13px 12px;
  border-right: 1px solid #e9ecee;
}
table .tbody tr td:first-child {
  padding: 12px 12px 9px 58px;
}
table .tbody tr td:first-child .bought {
  position: relative;
  padding-left: 22px;
  color: #45af37;
}
table .tbody tr td:first-child .bought::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: -1px;
  top: 1px;
  background-image: url('../img/added.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
table .tbody tr td:first-child .sold {
  position: relative;
  padding-left: 22px;
  color: #ff3657;
}
table .tbody tr td:first-child .sold::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: -1px;
  top: 1px;
  background-image: url('../img/added.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
table .tbody tr td:last-child {
  text-align: right;
  border-right: none;
}
table .tbody tr td:nth-last-child(2) {
  border-right: none;
}
table .tbody tr td span {
  color: #333f52;
  font-family: "RobotoMedium";
  font-size: 16px;
  line-height: 16px;
}
table .tbody tr td span b {
  font-size: 12px;
}
table .tbody tr td .edit {
  position: relative;
  display: inline-block;
  margin-right: 28px;
  padding-left: 15px;
  color: #45af37;
  font-family: "RobotoRegular";
  font-size: 12px;
  line-height: 12px;
  text-decoration: underline;
  text-decoration-style: dashed;
}
table .tbody tr td .edit::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -1px;
  top: -1px;
  background-image: url('../img/edit.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
table .tbody tr td .delete {
  position: relative;
  padding-left: 15px;
  color: #8f96a1;
  font-family: "RobotoRegular";
  font-size: 10px;
  line-height: 14px;
}
table .tbody tr td .delete::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -1px;
  top: 0px;
  background-image: url('../img/delete-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
table .tbody .portfolio_form {
  position: relative;
  padding: 16px 16px 0px 28px;
  background-color: rgba(232, 237, 242, 0.3);
  border-top: none;
  box-shadow: none;
}
table .tbody .portfolio_form .btn-add-record {
  padding: 13px 16px 10px;
  box-shadow: 0 2px 0 #3b962f;
  border-radius: 4px;
  background-color: #45af37;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "RobotoMedium";
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.23px;
}
table .tbody .portfolio_form .btn-add-record--active {
  padding: 13px 16px 10px;
  box-shadow: 0 2px 0 #707986, inset 0 2px 4px rgba(1, 1, 1, 0.3);
  border-radius: 4px;
  background-color: #8f96a1;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "RobotoMedium";
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.23px;
}
table tfoot {
  background-color: #fff;
}
table tfoot tr td {
  padding: 12px 12px 12px 12px;
  color: #707986;
  font-family: "RobotoMedium";
  font-size: 16px;
  line-height: 16px;
}
table tfoot tr td b {
  font-size: 12px;
}
table tfoot tr td:nth-child(2) {
  text-align: right;
  border-right: 1px solid #e9ecee;
}
table tfoot tr td:last-child {
  text-align: right;
  padding: 12px 28px 12px 12px;
}
table tfoot tr:nth-child(odd) {
  background-color: rgba(232, 237, 242, 0.44);
}
table tfoot tr:first-child {
  background-color: #fff;
  border-bottom: 1px solid #e9ecee;
}
table tfoot tr:first-child td {
  color: #525c6c;
  font-family: "RobotoRegular";
  font-size: 13px;
  line-height: 12px;
}
table tfoot tr:first-child td:nth-child(2) {
  text-align: left;
  border-right: none;
}
table tfoot tr:first-child td:nth-child(3) {
  text-align: right;
  border-right: 1px solid #e9ecee;
}
table tfoot tr:first-child td:last-child {
  text-align: left;
}
table tfoot tr:last-child {
  background-color: #fff;
  border-bottom: none;
}
table tfoot .btn-trade {
  position: relative;
  padding: 6px 8px 5px 22px;
  background-color: #1991eb;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 #1175c0;
  color: #fff;
  font-size: 11px;
  font-family: "RobotoMedium";
  line-height: 11px;
}
table tfoot .btn-trade::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 9px;
  left: 7px;
  top: 6px;
  background-image: url('../img/wallet.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
