@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.features {
  padding: 32px 0;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.15);
  background-color: #44af36;
}
.features_item {
  text-align: left;
  padding-left: 76px;
  padding-right: 5px;
}
.features_item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 16px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.features_item--managment::before {
  background-image: url('../img/menegment-icon.svg');
}
.features_item--ratings::before {
  background-image: url('../img/ratings-icon.svg');
}
.features_item--community::before {
  background-image: url('../img/community-icon.svg');
}
.features_item h3 {
  margin-bottom: 4px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  color: #fafbfc;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.features_item p {
  color: #fafbfc;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.top5-ico {
  margin-top: 44px;
}
.top5-ico h2 {
  margin-bottom: 26px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.top5-ico .ico-item {
  display: flex;
  margin-bottom: 1px;
  position: relative;
}
.top5-ico .ico-item_sponsored {
  top: 16px;
  right: -5px;
}
.top5-ico .ico-item .rating {
  position: absolute;
  top: 14px;
  display: flex;
  z-index: 55;
}
.top5-ico .ico-item .rating::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -6px;
  left: 0;
  border: 6px solid transparent;
  border-top-width: 9px;
  border-bottom-width: 9px;
  border-top-color: #f7981b;
  border-bottom-color: #f7981b;
  border-left-width: 0;
  transform: rotate(0deg);
}
.top5-ico .ico-item .rating span {
  margin: auto;
  padding: 2px 3px 1px 5px;
  color: #fff;
  background-color: #f7981b;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  white-space: nowrap;
  z-index: 1;
}
.top5-ico .ico-item_logo {
  position: relative;
  display: flex;
  min-width: 106px;
  min-height: 132px;
}
.top5-ico .ico-item_logo img {
  margin: auto;
}
.top5-ico .ico-item_content {
  flex-grow: 1;
  padding: 12px 16px 0 16px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  background-color: #fafbfc;
}
.top5-ico .ico-item_content--sponsored {
  background-color: #e0e6ed;
}
.top5-ico .ico-item_title {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.top5-ico .ico-item_title h3 {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.top5-ico .ico-item_category {
  padding: 5px 6px 0px;
  border-radius: 4px;
  border: 1px solid #cbd5e2;
  background-color: transparent;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  white-space: nowrap;
}
.top5-ico .ico-item_category--sponsored {
  margin-left: 20px;
  align-self: flex-start;
}
.top5-ico .ico-item_description {
  display: flex;
  margin-bottom: 10px;
}
.top5-ico .ico-item_description p {
  height: 32px;
  overflow: hidden;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.top5-ico .ico-item_data {
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top5-ico .ico-item_data:last-child {
  margin-bottom: 16px;
}
.top5-ico .ico-item_data-trading-start-date {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.35px;
}
.top5-ico .ico-item_data-full-amount {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.4px;
}
.top5-ico .ico-item_data-status {
  margin-left: 28px;
  position: relative;
  color: #44af36;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
}
.top5-ico .ico-item_data-status::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: -23px;
  top: -4px;
  background-image: url('../img/thumbs-up-green.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.top5-ico .ico-item_data-status--canseled {
  color: #ff3657;
}
.top5-ico .ico-item_data-status--canseled::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: -23px;
  top: -1px;
  background-image: url('../img/thumbs-up-red.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.top5-ico .ico-item_data-trading-time-left {
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.top5-ico .ico-item_data-current-amount {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.top5-ico .ico-item_data-current-amount--canseled {
  color: #ff3657;
}
.top5-ico .ico-item_data-current-percent {
  margin-left: 10px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.top5-ico .ico-item_data-current-token-price {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.35px;
}
.top5-ico .ico-item_data-token-x {
  position: relative;
  padding-left: 14px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.top5-ico .ico-item_data-token-x span {
  font-size: 14px;
}
.top5-ico .ico-item_data-token-x::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 8px;
  left: -1px;
  top: 7px;
  background-image: url('../img/triangle-green.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.top5-ico_button {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 42px;
}
.top5-ico_button a {
  padding: 18px 24px 14px;
  background-color: #44af36;
  box-shadow: 0 4px 0 #35882a;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.17px;
}
.latest {
  background-color: #e0e6ed;
}
.latest h2 {
  margin-top: 34px;
  margin-bottom: 26px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
}
.latest-forum {
  margin-bottom: 52px;
}
.latest-forum .forum-subsection-content {
  margin-top: 0;
}
.latest-forum .forum-topic_numbers {
  width: 100px;
  justify-content: space-between;
}
.latest-reviews {
  position: relative;
}
.latest-reviews .user {
  margin-bottom: 0;
}
.latest-reviews .user_name {
  margin-bottom: 4px;
}
.latest-reviews_item {
  position: relative;
  margin-bottom: 18px;
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px 4px 4px 0;
  background-color: #fafbfc;
}
.latest-reviews_item::before {
  content: "";
  position: absolute;
  left: 74px;
  bottom: -9px;
  border: 6px solid transparent;
  border-left: 6px solid #fafbfc;
  border-top: 6px solid #fafbfc;
}
.latest-reviews_time {
  color: #8f96a1;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.latest-reviews_ico-name {
  color: #1991eb;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.latest-reviews_ico-rating {
  display: flex;
  justify-content: flex-end;
}
.latest-reviews_ico-rating .rating_tag {
  position: relative;
  display: flex;
  width: 40px;
  height: 20px;
  background-color: #44af36;
}
.latest-reviews_ico-rating .rating_tag::before {
  content: "";
  display: inline-block;
  position: relative;
  border: 10px solid #fafbfc;
  border-left-width: 0px;
  border-right-width: 10px;
  border-right-color: transparent;
}
.latest-reviews_ico-rating .rating_tag span {
  margin: auto;
  white-space: nowrap;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
.telegram {
  background-color: #63a8dc;
}
.telegram_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.telegram_image {
  margin-right: 40px;
}
.telegram_call2action {
  margin-right: 34px;
}
.telegram_call2action span {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.31px;
}
.telegram_button a {
  position: relative;
  padding: 12px 12px 8px 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.telegram_button a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  left: 9px;
  top: 10px;
  background-image: url('../img/tg-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.add-review h3 {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.add-review form {
  width: 100%;
}
.add-review_form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-grow: 2;
}
.add-review_selects {
  background-color: #e0e6ed;
}
.add-review_selects-item {
  display: flex;
  align-items: center;
}
.add-review_selects-item label {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.add-review_selects-item select {
  padding: 10px 36px 7px 12px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  box-shadow: 0 1px 0 #c5d0de;
  border-radius: 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
}
.ico-item_sponsored {
  position: absolute;
  top: 16px;
  right: -6px;
  padding: 5px 10px 2px 14px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #f3b325;
  background-color: #ffffff;
  color: #f7981c;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
}
.ico-item_sponsored::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 28px;
  left: -27px;
  top: -4px;
  background-image: url('../img/sponsored.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.ico-item_sponsored::after {
  content: "";
  position: absolute;
  right: -1px;
  bottom: 17px;
  border: 3px solid transparent;
  border-bottom: 3px solid #f3b325;
  border-left: 3px solid #f3b325;
}
