.features {
  padding: 32px 0;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.15);
  background-color: #44af36;
}
.features_item {
  text-align: left;
  padding-left: 76px;
  padding-right: 5px;
}
.features_item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 16px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.features_item--managment::before {
  background-image: url('../img/menegment-icon.svg');
}
.features_item--ratings::before {
  background-image: url('../img/ratings-icon.svg');
}
.features_item--community::before {
  background-image: url('../img/community-icon.svg');
}
.features_item h3 {
  margin-bottom: 4px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  color: #fafbfc;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.features_item p {
  color: #fafbfc;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.top5-ico {
  margin-top: 44px;
}
.top5-ico h2 {
  margin-bottom: 26px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.top5-ico .ico-item {
  display: flex;
  margin-bottom: 1px;
}
.top5-ico .ico-item_logo {
  display: flex;
  min-width: 106px;
  height: 132px;
}
.top5-ico .ico-item_logo img {
  margin: auto;
}
.top5-ico .ico-item_content {
  flex-grow: 1;
  padding: 12px 16px 0 16px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  background-color: #fafbfc;
}
.top5-ico .ico-item_title {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top5-ico .ico-item_title h3 {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.top5-ico .ico-item_category {
  padding: 3px 6px 2px;
  border-radius: 4px;
  border: 1px solid #cbd5e2;
  background-color: #ffffff;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}
.top5-ico .ico-item_description {
  margin-bottom: 10px;
}
.top5-ico .ico-item_description p {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.top5-ico .ico-item_data {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top5-ico .ico-item_data-trading-start-date {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.35px;
}
.top5-ico .ico-item_data-full-amount {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.4px;
}
.top5-ico .ico-item_data-trading-time-left {
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.top5-ico .ico-item_data-current-amount {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.top5-ico .ico-item_data-current-percent {
  margin-left: 10px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.top5-ico .ico-item_data-current-token-price {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.35px;
}
.top5-ico_button {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 42px;
}
.top5-ico_button .btn {
  background-color: #44af36;
  box-shadow: 0 4px 0 #35882a;
}
.latest {
  background-color: #e0e6ed;
}
.latest h2 {
  margin-top: 34px;
  margin-bottom: 26px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
}
.latest-forum .forum-subsection-content {
  margin-top: 0;
}
.latest-forum .forum-topic_numbers {
  width: 100px;
  justify-content: space-between;
}
.latest-review_item {
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
}
.latest-review_item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 33px 13px 24px;
  background-image: linear-gradient(225deg, #8392d9 0%, #3841ba 100%);
}
.latest-review_item-title h3 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.latest-review_item-title span {
  padding: 1px 6px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: -0.03px;
}
.latest-review_item-discription {
  position: relative;
  padding: 16px 24px 0px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.latest-review_item-discription p {
  position: relative;
  padding-bottom: 20px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.latest-review_item .markets-item_characteristics {
  background-color: #fff;
  padding: 18px 28px 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  border-top: 1px solid #e0e6ed;
}
.latest-review_item .user {
  padding: 14px 24px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  background-color: #fafbfc;
}
.latest-review_item .user_block {
  align-items: flex-start;
}
.latest-review_item .user_rating {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
}
.latest-review_item .rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.latest-review_item .rating_tag {
  position: relative;
  display: flex;
  width: 40px;
  height: 20px;
  background-color: #44af36;
}
.latest-review_item .rating_tag::before {
  content: "";
  display: inline-block;
  position: relative;
  border: 10px solid #fafbfc;
  border-left-width: 0px;
  border-right-width: 10px;
  border-right-color: transparent;
}
.latest-review_item .rating_tag span {
  margin: auto;
  white-space: nowrap;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
.latest-review_item-date {
  margin-top: 5px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 9px;
}
.latest-review_item .dropdown {
  cursor: pointer;
  position: absolute;
  left: 50%;
}
.latest-review_item .dropdown::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: -5px;
  top: -9px;
  background-image: url('../img/arrow-circle-dropdown.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
