.user-reviews {
  margin-top: 32px;
  margin-bottom: 20px;
}
.user-reviews h2 {
  margin-bottom: 22px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.user-reviews_count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
}
.user-reviews_count span {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.user-reviews_select {
  position: relative;
}
.user-reviews_select select {
  padding: 10px 22px 8px 12px;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  box-shadow: 0 1px 0 #e2e7ee;
  border-radius: 0 4px 4px 0;
  border: 1px solid rgba(197, 208, 222, 0.5);
  background-color: #ffffff;
  outline: none;
}
.user-reviews_select::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 36px;
  box-shadow: 0 1px 0 #e2e7ee;
  border-radius: 4px 0 0 4px;
  border: 1px solid rgba(197, 208, 222, 0.5);
  background-color: #ffffff;
  left: -39px;
  top: 0px;
  background-image: url('../img/topic-select-icon.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.user-reviews_select::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  right: 16px;
  top: 17px;
  background-image: url('../img/select-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.user-reviews_item {
  box-shadow: 0 1px 0 #e0e6ed;
  background-color: #ffffff;
}
.user-reviews_item-wrapper {
  display: flex;
  position: relative;
  box-shadow: 0 2px 4px #e0e6ed;
  border-radius: 4px 4px 0 0;
}
.user-reviews_item .user {
  padding: 18px 0 20px 16px;
  display: flex;
  min-width: 210px;
  align-items: flex-start;
}
.user-reviews_item .user sup {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 18px;
}
.user-reviews_item-content {
  padding: 18px 24px 20px 0;
  flex-grow: 2;
}
.user-reviews_item-topline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.user-reviews_item-rating {
  display: flex;
  align-items: center;
  width: 60%;
}
.user-reviews_item-rating .rating_tag {
  margin-right: 16px;
  position: relative;
  display: flex;
  width: 40px;
  height: 20px;
  background-color: #44af36;
}
.user-reviews_item-rating .rating_tag::before {
  content: "";
  display: inline-block;
  position: relative;
  border: 10px solid #fff;
  border-left-width: 0px;
  border-right-width: 10px;
  border-right-color: transparent;
}
.user-reviews_item-rating .rating_tag span {
  margin: auto;
  white-space: nowrap;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
.user-reviews_item-rating-time {
  margin-right: 35px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.user-reviews_item-edit {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  cursor: pointer;
}
.user-reviews_item-thumbs {
  margin-left: auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.user-reviews_item-thumbs a {
  margin-left: 4px;
  width: 18px;
  height: 18px;
}
.user-reviews_item-thumbs span {
  margin-left: 4px;
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.user-reviews_item-thumbs .thumbs-up {
  text-indent: -9999px;
  background-image: url('../img/thumbs-up.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.user-reviews_item-thumbs .thumbs-down {
  text-indent: -9999px;
  background-image: url('../img/thumbs-down.svg');
  background-repeat: no-repeat;
  background-position: 50% 80%;
}
.user-reviews_item-details {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.user-reviews_item-details-hide {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.1px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.user-reviews_item-details-show {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.1px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.user-reviews_item-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.user-reviews_item-text p {
  margin-bottom: 12px;
  width: 70%;
  flex-grow: 2;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.user-reviews_item-text .table-score-wrapper {
  margin-left: 50px;
  width: 35%;
}
.user-reviews_item-text .table-score-wrapper table {
  width: 100%;
}
.user-reviews_item-text .table-score-wrapper table td {
  padding-bottom: 2px;
}
.user-reviews_item-text .table-score-wrapper table td:nth-child(odd) {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.user-reviews_item-text .table-score-wrapper table td:nth-child(even) {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.user-reviews_item-bottomline a {
  position: relative;
  padding-left: 16px;
  margin-right: 35px;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.user-reviews_item-bottomline a:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 9px;
  left: -1px;
  top: 1px;
  background-image: url('../img/answer-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.user-reviews_item-bottomline span {
  position: relative;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}
.user-reviews_item-bottomline span::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-right: 22px;
  background-color: #959ca7;
  top: 5px;
  left: -20px;
}
.user-reviews_item-replies {
  margin-top: 3px;
}
.user-reviews_item-replies .reply-item {
  display: flex;
  background-color: #fafbfc;
  border-bottom: 1px solid #e0e6ed;
}
.user-reviews_item-replies .reply-item_content {
  padding: 18px 24px 20px 0;
}
.user-reviews_item-replies .reply-item_topline {
  margin-bottom: 10px;
}
.user-reviews_item-replies .reply-item_time {
  margin-right: 35px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.user-reviews_item-replies .reply-item_edit {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-decoration: underline;
}
.user-reviews_item-replies .reply-item_text p {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.user-reviews_item-replies .reply-form {
  display: flex;
  background-color: #fafbfc;
}
.user-reviews_item-replies .reply-form_content {
  flex-grow: 2;
  padding: 18px 24px 20px 0;
}
.user-reviews_item-replies .reply-form_content-form {
  display: flex;
  flex-direction: column;
}
.user-reviews_item-replies .reply-form_content textarea {
  padding: 12px 16px;
  margin-bottom: 16px;
  min-height: 122px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  outline: none;
}
.user-reviews_item-replies .reply-form_content button {
  padding: 11px 12px 9px;
  align-self: flex-start;
  color: #c5d0de;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  border-radius: 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  outline: none;
}
