@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.choosing-form {
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
}
.choosing-form form fieldset {
  position: relative;
  padding: 0 24px;
  border-bottom: 1px solid #e0e6ed;
}
.choosing-form form fieldset legend {
  padding-top: 18px;
  padding-bottom: 15px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.06px;
}
.choosing-form form fieldset .dropdown::before {
  right: 5px;
  top: 23px;
}
.choosing-form form fieldset .choosing-form_list li {
  margin-bottom: 8px;
}
.choosing-form form fieldset .choosing-form_list li .bold {
  font-weight: 500;
}
.choosing-form form fieldset .choosing-form_list li sup {
  margin-left: 5px;
  color: #9096a0;
  font-size: 10px;
  letter-spacing: -0.1px;
}
.markets-catalogue {
  margin-top: 32px;
}
.markets-catalogue h1 {
  margin-bottom: 20px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.markets-catalogue_intro {
  margin-bottom: 20px;
}
.markets-catalogue_intro p {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.markets-catalogue_top-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}
.markets-catalogue_markets-amount {
  margin-bottom: 7px;
}
.markets-catalogue_markets-amount span {
  margin-bottom: 7px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.markets-catalogue_tag {
  display: inline-block;
  padding: 1px 9px 1px 6px;
  border-radius: 2px;
  border: 1px solid #44af36;
  background-color: #7cc772;
}
.markets-catalogue_tag-close {
  display: inline-block;
  font-size: 0px;
  width: 12px;
  height: 12px;
  background-image: url('../img/cross.svg');
  background-position: 2px 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.markets-catalogue_tag span {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  line-height: 12px;
  font-weight: 500;
}
.markets-catalogue_topics-select {
  position: relative;
}
.markets-item {
  margin-bottom: 20px;
}
.markets-item_content-wrapper {
  display: flex;
}
.markets-item_logo {
  display: flex;
  min-width: 188px;
  min-height: 180px;
  border-radius: 4px 0 0 0;
}
.markets-item_logo img {
  margin: auto;
  padding: 10px;
}
.markets-item_discription {
  width: 50%;
  padding: 20px 24px 0 28px;
  flex-grow: 1;
  background-color: #fafbfc;
}
.markets-item_title {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.markets-item_title h2 {
  color: #333f52;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.markets-item_data {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.markets-item_tags {
  margin-bottom: 13px;
  max-width: 280px;
}
.markets-item_tags span {
  display: inline-block;
  padding: 3px 4px 2px;
  margin-right: 4px;
  margin-bottom: 4px;
  background-color: #8f96a1;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: -0.03px;
  text-transform: uppercase;
}
.markets-item_volume {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.markets-item_volume span {
  white-space: nowrap;
}
.markets-item_volume-24 {
  margin-bottom: 5px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 10px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.markets-item_volume-usd {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.4px;
}
.markets-item_volume-usd sup {
  font-size: 12px;
  letter-spacing: -0.4px;
}
.markets-item_features {
  margin-bottom: 8px;
}
.markets-item_features span {
  margin-right: 16px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.06px;
}
.markets-item_bottom-line {
  align-items: center;
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 0 0 0 4px;
}
.markets-item_bottom-line a {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.13px;
}
.markets-item_bottom-line sup {
  top: -7px;
  margin-left: 4px;
  padding: 2px 5px 2px 4px;
  border-radius: 8px;
  background-color: #5bb0d5;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 9px;
}
.markets-item_bottom-line sup:hover {
  text-decoration: none;
}
.markets-item_bottom-line .to-discuss {
  padding-left: 45px;
  color: #525c6c;
}
.markets-item_bottom-line .to-discuss:hover {
  color: rgba(82, 92, 108, 0.85);
}
.markets-item_bottom-line .to-discuss:hover::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  left: 20px;
  top: 0px;
  background-image: url('../img/discuss-icon-hover.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.markets-item_bottom-line .to-discuss::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  left: 20px;
  top: 0px;
  background-image: url('../img/discuss-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.markets-item_bottom-line .to-rate {
  padding-left: 45px;
  color: #525c6c;
}
.markets-item_bottom-line .to-rate:hover {
  color: rgba(82, 92, 108, 0.85);
}
.markets-item_bottom-line .to-rate:hover::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  left: 20px;
  top: 0px;
  background-image: url('../img/to-rate-icon-hover.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.markets-item_bottom-line .to-rate::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  left: 20px;
  top: 0px;
  background-image: url('../img/to-rate-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.markets-item_bottom-line .to-rate--active {
  color: #44af36;
}
.markets-item_bottom-line .to-rate--active:hover {
  text-decoration: underline;
  color: #44af36;
}
.markets-item_bottom-line .to-rate--active:hover::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 20px;
  top: 0px;
  background-image: url('../img/green-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.markets-item_bottom-line .to-rate--active::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 20px;
  top: 0px;
  background-image: url('../img/green-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.markets-item_characteristics {
  width: 30%;
  background-color: #dfe5ed;
  padding: 30px 28px 18px;
  border-radius: 0 4px 0 0;
}
.markets-item_characteristics-feature {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.markets-item_characteristics-name {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.markets-item_characteristics-score {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 12px;
}
.markets-item_buttons {
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 30%;
}
.markets-item_buttons .btn {
  border-radius: 0;
}
.markets-item_buttons-website {
  flex-grow: 2;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 17px 1px 15px 20px;
  box-shadow: inset 0px -2px 0 #1175c0;
  background-color: #1991eb;
}
.markets-item_buttons-website::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 27px;
  top: 16px;
  background-image: url('../img/chain.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.markets-item_buttons-review {
  text-align: center;
  flex-grow: 2;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 17px 0px 15px 0px;
  box-shadow: inset 0px -2px 0 #35882a;
  background-color: #44af36;
}
