@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.user-reviews {
  margin-top: 32px;
  margin-bottom: 20px;
}
.user-reviews h2 {
  margin-bottom: 22px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.user-reviews_count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
}
.user-reviews_count span {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.user-reviews_select {
  position: relative;
  width: 110px;
}
.user-reviews_social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 28px;
  border-top: 1px solid #e0e6ed;
}
.user-reviews_social-item {
  margin-right: 4px;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
}
.user-reviews_social-item:first-child {
  margin-right: 24px;
  width: auto;
  height: auto;
  color: #45af37;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.user-reviews_social-item--fb {
  background-color: #345c94;
  background-image: url('../img/f-icon.svg');
}
.user-reviews_social-item--tw {
  background-color: #00b0e9;
  background-image: url('../img/tw-icon.svg');
}
.user-reviews_social-item--google {
  background-color: #e34245;
  background-image: url('../img/G+-icon.svg');
}
.user-reviews_social-item--in {
  background-color: #0086ba;
  background-image: url('../img/in-icon.svg');
}
.user-reviews_social-item--vk {
  background-color: #4c75a3;
  background-image: url('../img/wk-icon.svg');
}
.user-reviews_item {
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 1px 0 #e0e6ed;
  background-color: #ffffff;
}
.user-reviews_item::before {
  content: "";
  position: absolute;
  left: 74px;
  bottom: -11px;
  border: 6px solid transparent;
  border-left: 6px solid #fff;
  border-top: 6px solid #fff;
}
.user-reviews_item-review {
  box-shadow: 0 2px 4px #e0e6ed;
  border-radius: 4px 4px 0 0;
  margin-bottom: 4px;
}
.user-reviews_item-wrapper {
  display: flex;
}
.user-reviews_item .user {
  padding: 18px 10px 20px 16px;
  display: flex;
  min-width: 22%;
  align-items: flex-start;
}
.user-reviews_item .user sup {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 18px;
}
.user-reviews_item-content {
  padding: 18px 24px 20px 0;
  flex-grow: 2;
}
.user-reviews_item-topline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.user-reviews_item-rating {
  display: flex;
  align-items: center;
  width: 60%;
}
.user-reviews_item-rating .rating_tag {
  margin-right: 16px;
  position: relative;
  display: flex;
  width: 40px;
  height: 20px;
  background-color: #44af36;
}
.user-reviews_item-rating .rating_tag::before {
  content: "";
  display: inline-block;
  position: relative;
  border: 10px solid #fff;
  border-left-width: 0px;
  border-right-width: 10px;
  border-right-color: transparent;
}
.user-reviews_item-rating .rating_tag span {
  margin: auto;
  white-space: nowrap;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
.user-reviews_item-rating-time {
  margin-right: 35px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.user-reviews_item-edit {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  cursor: pointer;
}
.user-reviews_item-thumbs {
  margin-left: auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.user-reviews_item-thumbs span {
  margin-left: 4px;
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.user-reviews_item-thumbs .thumbs-up {
  position: relative;
  margin-left: 4px;
  cursor: pointer;
}
.user-reviews_item-thumbs .thumbs-up::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -6px;
  width: 13px;
  height: 11px;
  background-image: url('../img/thumbs-up.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.user-reviews_item-thumbs .thumbs-up--active::before {
  background-image: url('../img/thumbs-up-green-review.svg');
}
.user-reviews_item-thumbs .thumbs-down {
  position: relative;
  margin-left: 4px;
  cursor: pointer;
}
.user-reviews_item-thumbs .thumbs-down::before {
  content: "";
  position: absolute;
  left: 3px;
  top: -4px;
  width: 13px;
  height: 11px;
  background-image: url('../img/thumbs-down.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.user-reviews_item-thumbs .thumbs-down--active::before {
  background-image: url('../img/thumbs-down-red-review.svg');
}
.user-reviews_item-details {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.user-reviews_item-details-hide {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.1px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.user-reviews_item-details-show {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.1px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.user-reviews_item-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.user-reviews_item-text p {
  margin-bottom: 12px;
  width: 70%;
  flex-grow: 2;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.user-reviews_item-text .table-score-wrapper {
  margin-left: 50px;
  width: 35%;
}
.user-reviews_item-text .table-score-wrapper table {
  width: 100%;
}
.user-reviews_item-text .table-score-wrapper table td {
  padding-bottom: 2px;
}
.user-reviews_item-text .table-score-wrapper table td:nth-child(odd) {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.user-reviews_item-text .table-score-wrapper table td:nth-child(even) {
  text-align: right;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.user-reviews_item-bottomline {
  margin-top: 15px;
  display: flex;
}
.user-reviews_item-bottomline a {
  position: relative;
  padding-left: 16px;
  margin-right: 35px;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.user-reviews_item-bottomline a:hover {
  color: rgba(25, 145, 235, 0.85);
}
.user-reviews_item-bottomline a:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 9px;
  left: -1px;
  top: 1px;
  background-image: url('../img/answer-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.user-reviews_item-bottomline-replies {
  position: relative;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}
.user-reviews_item-bottomline-replies::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-right: 22px;
  background-color: #959ca7;
  top: 5px;
  left: -20px;
}
.user-reviews_item-bottomline-share-review {
  position: relative;
  margin-left: auto;
  color: #f7981c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  cursor: pointer;
}
.user-reviews_item-bottomline-share-review::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 12px;
  left: -18px;
  top: 0px;
  background-image: url('../img/share.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.user-reviews_item-replies .reply-item {
  display: flex;
  background-color: #fafbfc;
  border-bottom: 1px solid #e0e6ed;
}
.user-reviews_item-replies .reply-item_content {
  padding: 18px 24px 20px 0;
}
.user-reviews_item-replies .reply-item_topline {
  margin-bottom: 10px;
}
.user-reviews_item-replies .reply-item_time {
  margin-right: 35px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.user-reviews_item-replies .reply-item_edit {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-decoration: underline;
}
.user-reviews_item-replies .reply-item_text p {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.user-reviews_item-replies .reply-form {
  background-color: #fafbfc;
}
.user-reviews_item-replies .reply-form_content {
  flex-grow: 2;
  padding: 18px 24px 20px 0;
}
.user-reviews_item-replies .reply-form_content-form {
  display: flex;
  flex-direction: column;
}
.user-reviews_item-replies .reply-form_content textarea {
  padding: 12px 16px;
  margin-bottom: 16px;
  min-height: 122px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  outline: none;
}
.user-reviews_item-replies .reply-form_content button {
  padding: 11px 12px 9px;
  align-self: flex-start;
  color: #c5d0de;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  border-radius: 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  outline: none;
}
.add-reviews {
  margin-bottom: 52px;
}
.add-reviews h3 {
  margin-bottom: 15px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.add-reviews_form {
  width: 100%;
}
.add-reviews_form-wrapper {
  margin-bottom: 18px;
  width: 100%;
  display: flex;
}
.add-reviews_form-text {
  flex-grow: 2;
}
.add-reviews_form-text textarea {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 13px 30px 20px 17px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.add-reviews_form-text textarea:focus {
  box-shadow: 0 2px 20px rgba(25, 145, 235, 0.2);
}
.add-reviews_form-scores {
  padding: 24px 28px;
  width: 33%;
  background-color: #e0e6ed;
}
.add-reviews_form-score {
  position: relative;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.add-reviews_form-score label {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.add-reviews_form-button button {
  padding: 11px 12px 9px;
  border-radius: 4px;
  border: 1px solid #c5d0de;
  background-color: #ffffff;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.add-reviews_form-button button:hover {
  border: 1px solid #1991eb;
  color: #1991eb;
  background-color: #fafbfc;
}
