@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.profile-activity-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0 24px;
}
.profile-activity-title h2 {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
}
.profile-activity-filter {
  display: flex;
}
.profile-activity-filter label {
  text-align: center;
  margin-bottom: 0;
}
.profile-activity-filter label:first-child b {
  border-radius: 2px 0 0 2px;
}
.profile-activity-filter label:last-child b {
  border-radius: 0 2px 2px 0;
}
.profile-activity-filter label input[type=checkbox] {
  display: none;
  position: relative;
  top: 2px;
}
.profile-activity-filter label b {
  display: block;
  padding: 10px 20px 9px;
  margin-left: -1px;
  color: #525c6c;
  background-color: #fff;
  border: 1px solid #ced8e3;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
}
.profile-activity-list {
  margin-bottom: 50px;
}
.profile-activity-item {
  display: flex;
  align-items: flex-start;
  padding: 18px 44px 12px 14px;
  box-shadow: 0 1px 0 #e0e6ed;
  background-color: #fafbfc;
  border-bottom: 1px solid #e8edf2;
}
.profile-activity-item_name {
  width: 23%;
}
.profile-activity-item_name span {
  padding: 4px 6px 3px;
  border: 1px solid #8f96a1;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
}
.profile-activity-item_name--thread span {
  border: 1px solid #fbc783;
  color: #fbc783;
}
.profile-activity-item_name--comment span {
  border: 1px solid #8f96a1;
  color: #8f96a1;
}
.profile-activity-item_name--review span {
  border: 1px solid #45af37;
  color: #45af37;
}
.profile-activity-item_content {
  width: 58%;
}
.profile-activity-item_content a {
  display: inline-block;
  margin-bottom: 8px;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.11px;
}
.profile-activity-item_content a span {
  color: #8f96a1;
  font-size: 12px;
}
.profile-activity-item_content p {
  margin-bottom: 8px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.profile-activity-item_content-data {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.profile-activity-item_content-date {
  margin-right: 26px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.profile-activity-item_content-views {
  margin-right: 32px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
}
.profile-activity-item_content-views b {
  font-size: 12px;
  line-height: 12px;
}
.profile-activity-item_content--comment a {
  font-weight: 400;
}
.profile-activity-item_ratings {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}
.profile-activity-item_comments {
  background-color: #9ea4ad;
  position: relative;
  padding: 3px 5px 1px 5px;
  border-radius: 8px;
  font-size: 11px;
  font-weight: 700;
  line-height: 10px;
  color: #fff;
}
.profile-activity-item_comments::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 6px;
  right: 50%;
  margin-right: -4px;
  top: 13px;
  background-image: url('../img/tail.svg');
  background-repeat: no-repeat;
}
.profile-activity-item_rating {
  margin-left: auto;
  color: #45af37;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
}
.profile-activity-item_rating--thread {
  color: #b64ad4;
}
.profile-activity-item .rating_tag {
  margin-right: 16px;
  position: relative;
  display: flex;
  width: 40px;
  height: 20px;
  background-color: #44af36;
}
.profile-activity-item .rating_tag::before {
  content: "";
  display: inline-block;
  position: relative;
  border: 10px solid #fafbfc;
  border-left-width: 0px;
  border-right-width: 10px;
  border-right-color: transparent;
}
.profile-activity-item .rating_tag span {
  margin: auto;
  white-space: nowrap;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
