@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.profile-topline {
  padding: 28px 0 0;
  background-color: #e0e6ed;
  border-bottom: 1px solid #c5d0de;
}
.profile-topline_button {
  text-align: right;
  margin-bottom: 30px;
}
.profile-topline_button button {
  padding: 13px 17px 12px 37px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.profile-topline_button button:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 20px;
  top: 12px;
  background-image: url('../img/message-icon-green.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.profile-topline_nav {
  display: flex;
}
.profile-topline_nav-item {
  margin-right: 64px;
}
.profile-topline_nav-item a {
  display: inline-block;
  padding: 11px 0;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.profile-topline_nav-item a:hover {
  color: rgba(82, 92, 108, 0.85);
  text-decoration: none;
}
.profile-topline_nav-item a sup {
  top: -7px;
  margin-left: 4px;
  margin-top: -22px;
  padding: 1px 5px 1px 5px;
  border-radius: 8px;
  background-color: #8f96a1;
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
}
.profile-topline_nav-item--active {
  position: relative;
}
.profile-topline_nav-item--active a {
  color: #5cb0d5;
  font-weight: 700;
}
.profile-topline_nav-item--active a:hover {
  color: #5cb0d5;
}
.profile-topline_nav-item--active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #5cb0d5;
  bottom: -5px;
}
.profile-user {
  margin-top: -55px;
  margin-bottom: 28px;
  box-shadow: 0 10px 30px rgba(82, 92, 108, 0.15);
  border-top: 4px solid #c5d0de;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
}
.profile-user_avatar {
  margin-top: -50px;
  margin-bottom: 18px;
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #c5d0de;
}
.profile-user_avatar img {
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.profile-user_status {
  margin-bottom: 15px;
}
.profile-user_status span {
  padding: 4px 8px;
  border-radius: 2px;
  border: 1px solid #707986;
  background-color: #ffffff;
  opacity: 0.5;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.profile-user_name {
  margin-bottom: 10px;
}
.profile-user_name span {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.profile-user_nickname {
  margin-bottom: 24px;
}
.profile-user_nickname span {
  padding-left: 20px;
  position: relative;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.profile-user_nickname span::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 4px;
  top: 2px;
  background-image: url('../img/user-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.profile-user_rating {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px 21px;
  border-top: 1px solid #e8edf2;
}
.profile-user_rating-rt {
  position: relative;
  padding-left: 24px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.profile-user_rating-rt::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 4px;
  top: -1px;
  background-image: url('../img/my-rating_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.profile-user_rating-points {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.profile-user_rating-points--zero {
  color: #8f96a1;
}
.profile-usersrating {
  padding: 24px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  background-color: #fafbfc;
  border-top: 4px solid #c5d0de;
}
.profile-usersrating h4 {
  position: relative;
  margin-bottom: 18px;
  padding-left: 24px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.profile-usersrating h4::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 2px;
  top: -1px;
  background-image: url('../img/usersrating-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.profile-usersrating_filter {
  display: flex;
  margin-bottom: 22px;
}
.profile-usersrating_filter label {
  text-align: center;
  margin-bottom: 0;
}
.profile-usersrating_filter label:first-child b {
  border-radius: 2px 0 0 2px;
}
.profile-usersrating_filter label:last-child b {
  border-radius: 0 2px 2px 0;
}
.profile-usersrating_filter label input[type=checkbox] {
  display: none;
  position: relative;
  top: 2px;
}
.profile-usersrating_filter label b {
  display: block;
  padding: 10px 20px 9px;
  margin-left: -1px;
  color: #525c6c;
  background-color: #fff;
  border: 1px solid #ced8e3;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
}
.profile-usersrating_filter label b:hover {
  background-color: #e8edf2;
}
.profile-usersrating_list {
  margin-bottom: 56px;
}
.profile-usersrating_item {
  margin-bottom: 18px;
}
.profile-usersrating_item--positive .profile-usersrating_item-points {
  color: #44af36;
}
.profile-usersrating_item--negative .profile-usersrating_item-points {
  color: #ff3657;
}
.profile-usersrating_item-norating {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.profile-usersrating_item-data {
  display: flex;
  align-items: center;
}
.profile-usersrating_item-avatar {
  margin-right: 8px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid #c5d0de;
}
.profile-usersrating_item-avatar img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
}
.profile-usersrating_item-name {
  margin-right: 20px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
}
.profile-usersrating_item-date {
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.profile-usersrating_item-points {
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
}
.profile-usersrating_item-review {
  margin-top: 5px;
  margin-left: 29px;
}
.profile-usersrating_item-review p {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.profile-usersrating_button {
  text-align: center;
}
.profile-usersrating_button a {
  padding: 10px 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: -0.23px;
}
.profile-activity {
  margin-top: 16px;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
  border-radius: 4px;
  background-color: #fafbfc;
  border-top: 4px solid #c5d0de;
}
.profile-activity_forum {
  padding: 22px 24px 8px 48px;
  border-bottom: 1px solid #e8edf2;
}
.profile-activity_forum h3 {
  position: relative;
  margin-bottom: 16px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.profile-activity_forum h3::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  left: -22px;
  top: 2px;
  background-image: url('../img/comments-small.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.profile-activity_forum-threads,
.profile-activity_forum-comments {
  display: flex;
  justify-content: space-between;
}
.profile-activity_forum-threads a,
.profile-activity_forum-comments a {
  margin-bottom: 12px;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
}
.profile-activity_forum-threads a:last-child,
.profile-activity_forum-comments a:last-child {
  margin-bottom: 22px;
}
.profile-activity_forum-threads a:hover,
.profile-activity_forum-comments a:hover {
  text-decoration: underline;
  color: rgba(25, 145, 235, 0.85);
}
.profile-activity_forum-threads span,
.profile-activity_forum-comments span {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.profile-activity_review {
  padding: 22px 24px 16px 48px;
}
.profile-activity_review h3 {
  position: relative;
  margin-bottom: 16px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.profile-activity_review h3::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 13px;
  left: -22px;
  top: 0px;
  background-image: url('../img/star-small.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.profile-activity_review-ico,
.profile-activity_review-exchanges {
  display: flex;
  justify-content: space-between;
}
.profile-activity_review-ico a,
.profile-activity_review-exchanges a {
  margin-bottom: 12px;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
}
.profile-activity_review-ico span,
.profile-activity_review-exchanges span {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.profile {
  padding: 40px 0 44px;
}
.profile-intro {
  margin-bottom: 30px;
}
.profile-intro span {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.profile-intro p {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.profile-data {
  margin-bottom: 22px;
}
.profile-data table {
  width: 100%;
}
.profile-data table th {
  width: 33%;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.profile-data table td {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.profile-social {
  margin-bottom: 34px;
}
.profile-social span {
  display: inline-block;
  margin-bottom: 10px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.profile-social_links {
  display: flex;
}
.profile-social_links-item {
  position: relative;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
}
.profile-social_links-item--fb {
  background-color: #345c94;
  background-image: url('../img/fb-icon.svg');
}
.profile-social_links-item--tw {
  background-color: #00b0e9;
  background-image: url('../img/tw-icon.svg');
}
.profile-social_links-item--in {
  background-color: #0086ba;
  background-image: url('../img/in-icon.svg');
}
.profile-social_links-item--m {
  background-color: #00ac68;
  background-image: url('../img/m-icon.svg');
}
.profile-social_links-item--btc {
  background-color: #ffb629;
  background-image: url('../img/btc-icon.svg');
}
.profile h2 {
  margin-bottom: 20px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.profile p {
  margin-bottom: 20px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.profile p:last-child {
  margin-bottom: 0;
}
.profile-reviews {
  margin-bottom: 52px;
}
.profile-reviews h3 {
  margin-bottom: 7px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.profile-reviews_item {
  padding: 15px 0;
  border-bottom: 1px solid #ced8e3;
}
.profile-reviews_item:last-child {
  border-bottom: none;
}
.profile-reviews_item-noreviews {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.profile-reviews_item-name {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.profile-reviews_item-name a {
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.profile-reviews_item-name a:hover {
  color: rgba(25, 145, 235, 0.85);
  text-decoration: underline;
}
.profile-reviews_item .rating_tag {
  position: relative;
  display: flex;
  margin-left: auto;
  width: 30px;
  height: 17px;
  background-color: #44af36;
}
.profile-reviews_item .rating_tag::before {
  content: "";
  display: inline-block;
  position: relative;
  border: 8px solid #eff3f6;
  border-left-width: 0px;
  border-right-width: 6px;
  border-right-color: transparent;
}
.profile-reviews_item .rating_tag span {
  margin: auto;
  white-space: nowrap;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}
.profile-reviews_item-rating {
  margin-left: 22px;
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}
.profile-reviews_item-review p {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.profile-comments {
  margin-bottom: 52px;
}
.profile-comments h3 {
  margin-bottom: 7px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.profile-comments_item {
  padding: 15px 0;
  border-bottom: 1px solid #ced8e3;
}
.profile-comments_item:last-child {
  border-bottom: none;
}
.profile-comments_item-comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.profile-comments_item-comment p {
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.profile-comments_item-comment span {
  margin-left: 22px;
  color: #45af37;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}
.profile-comments_item-date {
  margin-bottom: 5px;
}
.profile-comments_item-date span {
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.profile-comments_item-topic span {
  color: #8f96a1;
  font-size: 12px;
  letter-spacing: -0.1px;
}
.profile-comments_item-topic a {
  color: #1991eb;
  font-family: #1991eb;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.profile-threads {
  margin-bottom: 52px;
}
.profile-threads h3 {
  margin-bottom: 7px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.profile-threads_item {
  padding: 15px 0;
  border-bottom: 1px solid #ced8e3;
}
.profile-threads_item:last-child {
  border-bottom: none;
}
.profile-threads_item-thread {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.profile-threads_item-thread a {
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.1px;
}
.profile-threads_item-thread span {
  margin-left: 22px;
  color: #b64ad4;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}
.profile-threads_item-date {
  margin-right: 28px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.profile-threads_item-views {
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.profile-threads_item-views b {
  font-size: 14px;
}
