@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.settings-topline h2,
.ico-notif h2,
.social-notif h2,
.channels-notif h2,
.settings-button h2,
.change-password h2,
.security-block h2,
.profile-settings h2,
.external-links h2,
.other-settings h2,
.avatar-settings h2 {
  margin-top: 32px;
  margin-bottom: 18px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.settings-topline label,
.ico-notif label,
.social-notif label,
.channels-notif label,
.settings-button label,
.change-password label,
.security-block label,
.profile-settings label,
.external-links label,
.other-settings label,
.avatar-settings label {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.settings-topline input,
.ico-notif input,
.social-notif input,
.channels-notif input,
.settings-button input,
.change-password input,
.security-block input,
.profile-settings input,
.external-links input,
.other-settings input,
.avatar-settings input,
.settings-topline textarea,
.ico-notif textarea,
.social-notif textarea,
.channels-notif textarea,
.settings-button textarea,
.change-password textarea,
.security-block textarea,
.profile-settings textarea,
.external-links textarea,
.other-settings textarea,
.avatar-settings textarea {
  width: 100%;
  padding: 12px 12px 11px;
  padding: 12px 20px 11px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.settings-topline textarea,
.ico-notif textarea,
.social-notif textarea,
.channels-notif textarea,
.settings-button textarea,
.change-password textarea,
.security-block textarea,
.profile-settings textarea,
.external-links textarea,
.other-settings textarea,
.avatar-settings textarea {
  padding: 14px 20px 12px 12px;
}
.settings-topline {
  padding: 32px 0 0;
  background-color: #e0e6ed;
}
.settings-topline h1 {
  margin-bottom: 30px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.17px;
}
.settings-topline_nav {
  display: flex;
}
.settings-topline_nav-item {
  margin-right: 64px;
}
.settings-topline_nav-item a {
  display: inline-block;
  padding: 11px 0;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.settings-topline_nav-item a:hover {
  color: rgba(82, 92, 108, 0.85);
  text-decoration: none;
}
.settings-topline_nav-item--active {
  position: relative;
}
.settings-topline_nav-item--active a {
  font-weight: 700;
}
.settings-topline_nav-item--active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #8f96a1;
  bottom: -5px;
}
.ico-notif-wrapper,
.social-notif-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ico-notif-list_item,
.social-notif-list_item {
  margin-bottom: 16px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.ico-notif-list_item:first-child,
.social-notif-list_item:first-child {
  font-size: 0;
  margin-bottom: 22px;
}
.ico-notif-checkbox-set,
.social-notif-checkbox-set {
  margin-left: auto;
  display: flex;
}
.ico-notif-checkbox-set label,
.social-notif-checkbox-set label {
  margin-bottom: 12px;
}
.ico-notif-checkbox-set ul li,
.social-notif-checkbox-set ul li {
  margin-bottom: 16px;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.ico-notif-checkbox-set ul li:first-child,
.social-notif-checkbox-set ul li:first-child {
  margin-bottom: 20px;
}
.ico-notif-checkbox-set_email,
.social-notif-checkbox-set_email {
  margin-right: 70px;
}
.ico-notif-checkbox-set_telegram,
.social-notif-checkbox-set_telegram {
  margin-right: 45px;
}
.channels-notif_email,
.channels-notif_telegram {
  display: flex;
  flex-direction: column;
}
.channels-notif_email {
  margin-bottom: 24px;
}
.other-notif-list {
  margin-bottom: 26px;
}
.other-notif-list_item {
  margin-bottom: 12px;
}
.other-notif label span {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.settings-button {
  margin-bottom: 50px;
}
.settings-button .btn-settings {
  padding: 16px 16px 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: -0.27px;
}
.settings-button .btn-finish-session {
  padding: 13px 16px 10px;
  border-radius: 4px;
  border: 1px solid #8f96a1;
  background-color: #e0e6ed;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: -0.23px;
}
.change-password {
  margin-bottom: 44px;
}
.change-password_current-pass {
  margin-bottom: 24px;
}
.change-password_new-pass {
  margin-bottom: 10px;
}
.change-password_strength-pass {
  display: flex;
  margin-bottom: 34px;
}
.change-password_strength-pass span {
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.security-block {
  margin-bottom: 50px;
}
.security-block h2 {
  margin-bottom: 22px;
}
.security-block-table {
  width: 100%;
  margin-bottom: 10px;
}
.security-block-table td {
  padding-bottom: 16px;
}
.security-block-table td:first-child {
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.security-block-table td:last-child {
  text-align: right;
  height: 16px;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.security-block-table td:last-child small {
  font-weight: 400;
}
.profile-settings {
  margin-bottom: 40px;
}
.profile-settings .label-wrapper {
  display: flex;
}
.profile-settings label {
  display: block;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.profile-settings input,
.profile-settings textarea {
  width: 100%;
  margin-bottom: 23px;
}
.profile-settings input {
  padding: 12px 20px 11px 12px;
}
.profile-settings .form-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.profile-settings .symbol-counter {
  margin-left: auto;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.profile-settings_email {
  position: relative;
}
.profile-settings_email-change {
  position: absolute;
  top: 36px;
  right: -72px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}
.profile-settings_first-name,
.profile-settings_last-name,
.profile-settings_country,
.profile-settings_city {
  width: 48%;
}
.profile-settings_city label {
  font-size: 0;
}
.profile-settings_sex {
  width: 32%;
}
.profile-settings_birthday {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 64%;
}
.profile-settings_birthday-day {
  width: 19%;
}
.profile-settings_birthday-month {
  width: 50%;
}
.profile-settings_birthday-month label {
  font-size: 0;
}
.profile-settings_birthday-year {
  width: 19%;
}
.profile-settings_birthday-year label {
  font-size: 0;
}
.profile-settings_country,
.profile-settings_city,
.profile-settings_sex,
.profile-settings_birthday-day,
.profile-settings_birthday-month,
.profile-settings_birthday-year {
  position: relative;
}
.profile-settings_country::before,
.profile-settings_city::before,
.profile-settings_sex::before,
.profile-settings_birthday-day::before,
.profile-settings_birthday-month::before,
.profile-settings_birthday-year::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  right: 12px;
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.external-links {
  margin-bottom: 40px;
}
.external-links h2 {
  margin-bottom: 20px;
}
.external-links input,
.external-links textarea {
  width: 100%;
  margin-bottom: 12px;
}
.external-links-item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.external-links-item_social {
  width: 32%;
}
.external-links-item_link {
  width: 64%;
}
.external-links-item_remove {
  position: absolute;
  top: 12px;
  right: -72px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}
.external-links-add-link {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.1px;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.external-links-add-link:hover {
  color: rgba(69, 175, 55, 0.85);
}
.other-settings {
  margin-bottom: 36px;
}
.other-settings h2 {
  margin-bottom: 20px;
}
.other-settings input,
.other-settings textarea {
  width: 100%;
  margin-bottom: 12px;
}
.avatar-settings {
  margin-top: 96px;
  padding-bottom: 14px;
  box-shadow: 0 10px 30px rgba(82, 92, 108, 0.15);
  border-top: 4px solid #c5d0de;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
}
.avatar-settings_image {
  margin-top: -50px;
  margin-bottom: 18px;
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #c5d0de;
}
.avatar-settings_image img {
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.avatar-settings_remove-image {
  display: block;
  margin-bottom: 12px;
  margin-top: 16px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  letter-spacing: -0.23px;
}
.avatar-settings_remove-image:hover {
  color: #8f96a1;
  text-decoration: none;
}
.avatar-settings input[type="file"] {
  display: none;
}
.avatar-settings .btn-upload {
  display: inline-block;
  padding: 13px 16px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: -0.23px;
}
.avatar-settings p {
  padding: 0 75px;
  color: #8f96a1;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
