@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
  src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  background-color: #eff3f6;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-fluid {
  max-width: 1440px;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h2 {
  color: #fafbfc;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
select,
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
legend {
  margin: 0;
  padding: 0;
}
button {
  outline: none;
}
table {
  table-layout: auto;
}
th {
  font-weight: normal;
}
b {
  font-weight: normal;
}
.tooltip-mark {
  display: inline-block;
  margin-left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-image: url('../img/tooltip.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.dropdown {
  cursor: pointer;
}
.dropdown::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  background-image: url('../img/arrow-top.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.hidden {
  display: none;
}
.btn {
  position: relative;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
}
.btn--login {
  padding: 10px 12px 10px 32px;
  color: #fff;
  background-color: #44af36;
}
.btn--login::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 10px;
  top: 10px;
  background-image: url('../img/login-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.btn--prymary {
  padding: 12px 20px 12px 54px;
  background-color: #44af36;
  color: #fff;
  box-shadow: 0 2px 0 #35882a;
}
.btn--prymary::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 18px;
  top: 8px;
  background-image: url('../img/prymary-btn_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.user--hidden {
  display: none;
}
.user a {
  text-decoration: none;
}
.user_block {
  display: flex;
  align-items: flex-end;
}
.user_icon {
  margin-right: 10px;
  display: flex;
  padding: 2px;
  border: 2px solid #44af36;
  border-radius: 50%;
}
.user_icon--small {
  padding: 0;
  border: 1px solid #44af36;
  position: relative;
}
.user_icon img {
  margin: auto;
}
.user_icon--ico {
  position: relative;
}
.user_icon--ico::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 18px;
  left: 1px;
  top: -8px;
  background-image: url('../img/ico.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.user_name {
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.user_rank {
  display: inline-block;
  padding: 3px 6px;
  background-color: #fff;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: -0.04px;
  border: 1px solid #707986;
  border-radius: 2px;
}
.user_rank--boss {
  color: #fff;
  background-color: #1991eb;
  border: none;
}
.user_rank--team {
  color: #fff;
  background-color: #44af36;
  border: none;
}
.user_icon-set {
  margin-right: 74px;
}
.user_icon-set .user_icon-bell {
  margin-bottom: 3px;
  width: 16px;
  height: 16px;
  background-image: url('../img/bell.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.user_icon-set .user_icon-num a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #ff3657;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
}
.user_rating {
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.readers {
  position: relative;
  padding-left: 20px;
  color: #44af36;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  white-space: nowrap;
}
.readers::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 9px;
  left: -2px;
  top: 2px;
  background-image: url('../img/eye.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.paginator {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 55px;
  white-space: nowrap;
  font-size: 0;
}
.paginator a {
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  width: 34px;
  height: 34px;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  border-top: 1px solid rgba(197, 208, 222, 0.5);
  border-bottom: 1px solid rgba(197, 208, 222, 0.5);
  box-shadow: 0 1px 0 #e2e7ee;
}
.paginator a:hover {
  background-color: #e0e6ed;
}
.paginator .first {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid rgba(197, 208, 222, 0.5);
}
.paginator .current {
  background-color: #e0e6ed;
}
.paginator .current:hover {
  background-color: #e0e6ed;
}
.paginator .next {
  text-indent: -9999px;
  background-image: url('../img/paginator-arrow.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 0 4px 4px 0;
  border-right: 1px solid rgba(197, 208, 222, 0.5);
  border-left: 1px solid rgba(197, 208, 222, 0.5);
}
.paginator_page-list {
  position: relative;
  margin-left: 20px;
}
.paginator_page-list select {
  padding: 0 12px;
  width: 60px;
  height: 34px;
  color: #707986;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  border: 1px solid rgba(197, 208, 222, 0.5);
  border-radius: 4px;
  box-shadow: 0 1px 0 #e2e7ee;
  background-color: #ffffff;
  outline: none;
}
.paginator_page-list::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  left: 38px;
  top: 16px;
  background-image: url('../img/select-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.paginator-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs a {
  position: relative;
  opacity: 0.75;
  color: #1991eb;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.13px;
}
.breadcrumbs a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -21px;
  top: -1px;
  background-image: url('../img/arrow-left-circle.svg');
  background-repeat: no-repeat;
}
label.checkbox input[type=checkbox] {
  display: none;
  position: relative;
  top: 2px;
}
label.checkbox span {
  position: relative;
  display: block;
  padding-left: 22px;
  white-space: wrap;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
label.checkbox span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 21px;
  background-image: url('../img/check-inactive.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 33;
}
label.checkbox input[type=checkbox]:checked + span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url('../img/checkbox.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 33;
}
label.checkbox input[type=checkbox]:checked + .white-list::after {
  background-image: url('../img/pink-checkbox.svg');
}
label.checkbox input[type=checkbox]:checked + .KYC::after {
  background-image: url('../img/blue-checkbox.svg');
}
label.checkbox input[type=checkbox]:checked + .pre-ico::after {
  background-image: url('../img/orange-checkbox.svg');
}
label.checkbox input[type=checkbox]:checked + .start-ico::after {
  background-image: url('../img/checkbox.svg');
}
label.checkbox input[type=checkbox]:checked + .ending-ico::after {
  background-image: url('../img/purple-checkbox.svg');
}
label.toggle {
  margin-bottom: 0;
}
label.toggle input[type=checkbox] {
  display: none;
  position: relative;
  top: 2px;
}
label.toggle span {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
}
label.toggle span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 20px;
  background-image: url('../img/tumbler-inactive.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 33;
}
label.toggle input[type=checkbox]:checked + span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 20px;
  background-image: url('../img/tumbler-active.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 33;
}
.portfolio-view_filter label input[type=checkbox]:checked + b {
  background: #44af36;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.profile-usersrating_filter label input[type=checkbox]:checked + b {
  background: #8f96a1;
  color: #fff;
  font-weight: 500;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
label.radio input[type=radio] {
  display: none;
  position: relative;
  top: 2px;
}
label.radio span {
  position: relative;
  display: block;
  padding-left: 22px;
  white-space: wrap;
  color: #333f52;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
label.radio span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 21px;
  background-image: url('../img/radio-inactive.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 33;
}
label.radio input[type=radio]:checked + span::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 17px;
  height: 17px;
  background-image: url('../img/radio-active.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 33;
}
.radio-buttons label input[type=radio]:checked + b {
  background: #44af36;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.language {
  z-index: 22;
}
.language_current,
.language-header_current {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}
.language_current::before,
.language-header_current::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 4px;
  left: 23px;
  top: 9px;
  background-image: url('../img/select-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.language_list,
.language-header_list {
  display: none;
}
.language_list-item,
.language-header_list-item {
  margin-bottom: 5px;
}
.tooltip-inner {
  max-width: 320px;
  text-align: left;
  padding: 8px;
  box-shadow: -8px 8px 24px rgba(0, 0, 0, 0.2);
  border: 1px solid #e0e6ed;
  background-color: #ffffff;
  color: #525c6c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.bs-tooltip-top .arrow::before {
  border-top-color: #ffffff;
  top: -1px;
}
.bs-tooltip-right .arrow::before {
  border-right-color: #ffffff;
  right: -1px;
}
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #ffffff;
  top: 1px;
}
.bs-tooltip-left .arrow::before {
  border-left-color: #ffffff;
  left: -1px;
}
.rating-wrapper {
  display: flex;
  margin-left: auto;
}
.our-rating {
  display: flex;
  border: 1px solid #44af36;
  border-right: none;
  background-color: #ffffff;
}
.our-rating span {
  margin: auto;
  padding: 0px 18px 0px 9px;
  white-space: nowrap;
  color: #45af37;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
}
.rating {
  position: relative;
  display: flex;
}
.rating::before {
  content: "";
  position: absolute;
  left: -10px;
  border: 10px solid transparent;
  border-top-width: 14px;
  border-bottom-width: 14px;
  border-top-color: #f7981b;
  border-bottom-color: #f7981b;
  border-left-width: 0;
  transform: rotate(180deg);
}
.rating span {
  margin: auto;
  padding: 6px 6px 4px 5px;
  color: #fff;
  background-color: #f7981b;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 16px;
  white-space: nowrap;
}
.rating span sup {
  padding: 0;
  opacity: 0.8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.add-favourite {
  position: absolute;
  cursor: pointer;
}
.add-favourite::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  left: 20px;
  top: 17px;
  background-image: url('../img/add-favourite.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
}
.add-favourite--active::before {
  background-image: url('../img/heart-white.svg');
}
